# FIT5196 Task 1 in Assessment 2
#### Student Name: Yicheng Zhang
#### Student ID: 27699641

Date: 10/05/2018

Version: 1.0

Environment: Python 3.6.5 and Jupyter notebook

Libraries used:
* pandas (for dataframe, included in Anaconda Python 3.6) 
* re (for regular expression, included in Anaconda Python 3.6) 
* numpy (for numpy array, included in Anaconda Python 3.6)
* sys (for system information, included in Anaconda Python 3.6)
* googlemaps(for google map api usage, should be installed before using it)

## 1.  Import libraries

In [65]:
import pandas as pd
import numpy as np
try:
    import googlemaps #try import googlemaps
except:
    import pip
    !pip install googlemaps
    import googlemaps  # if not exits, install this package
import re
import datetime
import sys

In [66]:
sys.version

'3.6.5 |Anaconda custom (64-bit)| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]'

## 2. Load Data with Pandas

### 2.1. Load CSV File
First step of this assessment is loading the csv file's data from the file, In python,one of the optimized method is using the `pandas` build-in method named `read_csv()`
We can get the data with `dataframe` type.

In [67]:
dataset1 = pd.read_csv('dataset1_with_error.csv')
dataset1.head()

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,not available,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20121103T000000,20121203T000000
1,12612830,Stress Engineer Glasgow,Glasgow,not available,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130108T150000,20130408T150000
2,12612844,Modelling and simulation analyst,Hampshire,not available,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130726T150000,20130924T150000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,27504,cv-library.co.uk,20121214T000000,20130314T000000
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20131025T000000,20131224T000000

In [68]:
print (dataset1.shape)

(25077, 11)

There are total 25077 records in this dataset, and 11 columns.

### 2.2. Check Data information
There are many methods to check the data information, they can be statistic, or descriptive. The `pandas` package provides us a convenient way to observe data information easily.
- - -
`dataframe.info()` can show `The number of records`, `Columns(Name,Type,Non-null values)`,`memory usage`

It can be found, only the `Id` column has data type `int64` which means, in this columns there are only numeric data.

There are some null value(missing value) in `Company` column

In [69]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25077 entries, 0 to 25076
Data columns (total 11 columns):
Id                  25077 non-null int64
Title               25077 non-null object
Location            25077 non-null object
ContractType        25077 non-null object
ContractTime        25077 non-null object
Company             21242 non-null object
Category            25077 non-null object
Salary per annum    25077 non-null object
SourceName          25077 non-null object
OpenDate            25077 non-null object
CloseDate           25077 non-null object
dtypes: int64(1), object(10)
memory usage: 2.1+ MB

`dataframe.describe()` can show the data statistic summary, however, it can only display numeric data(in this case `Id`).

In [70]:
dataset1.describe()

                 Id
count  2.507700e+04
mean   6.664312e+07
std    5.195261e+06
min    1.261263e+07
25%    6.720830e+07
50%    6.836110e+07
75%    6.871371e+07
max    6.924767e+07

If we want to know other data type's summary, we can use `dataframe.describe(include=['O'])`, which include object type data in python.
- - -
We can get the **count** of data, **unique** record in these data, which record appear most **frequent** in the data.

In [71]:
dataset1.describe(include=['O']) # describe include objects

,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
count,25077,25077,25077,25077,21242,25077,25077,25077,25077,25077
unique,25077,482,3,3,4879,8,1589,90,2203,2400
top,Mechanical Manufacturing Engineer ****,UK,not available,permanent,UKStaffsearch,IT Jobs,35004,totaljobs.com,20130127T150000,20130526T120000
freq,1,3996,19499,16194,248,7085,1011,5335,27,23

There are some interesting discoveries based on the above table:
- - -
* ** Location: ** Most Records in the data have Location with `UK`, There can be relatively high possibility this data come from united kindom.
- - -
* ** Contract: ** There are only 3 types for both contract type and time, it can be found later.
- - -
* ** Company: ** There are some missing values in company data.
- - -
* ** Date: ** The format of date should be considered later.

## 3.Check Data & Clean Data

### 3.1. Check data column by column
- - -
**Check ID Column**

In [72]:
dataset1[(dataset1['Id'] < 9999999) | (dataset1['Id'] > 99999999)] #check ID range

Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate]
Index: []

In [73]:
dataset1[dataset1.duplicated(['Id'])]

Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate]
Index: []

According to the above checking, and the data description, 
>** Id: ** `is 8 digit Id of the job advertisement`, 

assert the ID is 8-digits number, and have no duplicate records.

**Check Title Column**

In [74]:
dataset1.Title.value_counts()

Mechanical Manufacturing Engineer  ****                                         1
Network Manager                                                                 1
Revenue Controller                                                              1
Sales Specialist  Telecomms  Nr Chepstow  ****k                                 1
ASSISTANT MANAGER  BRANDED PUB & RESTAURANT                                     1
Part Time Nursery Nurse Urgently Required                                       1
Head of Applications Delivery                                                   1
Commis Chef  Monday to Friday School Contract  14 Weeks Holiday P/A             1
Assistant Manager  Stunning High Volume Bar Venue  City, EC****  ****k          1
Property Sales Professionals / Senior Sales Negotiators                         1
Security Install / Service Engineer                                             1
Assistant Manager for a Stunning City Wine Bar                                  1
Compensation & Accumulation (Employee Benefits) Consultant                      1
Staff Nurse Elderly Care Stockton on Tees                                       1
Portfolio Manager  Construction & Engineering                                   1
SQL Specialist & Data Analyst                                                   1
Theatre Manager                                                                 1
Events Assistant                                                                1
Store Services Support                                                          1
C++ Developer ( FX Derivatives )                                                1
Healthcare Sales Representative  Northern ireland                               1
Head of Finance  Business Partner                                               1
OAKINGTON Home Nurse Manager RGN  Cambridge                                     1
Stroke Service Governance Audit Coordinator                                     1
Finance Software Support                                                        1
Hotel Reception Manager                                                         1
Interim Inventory Accountant                                                    1
Credit Risk Analyst                                                             1
Home Manager Glasgow                                                            1
Salesforce / Forcecom Functional Consultant                                     1
                                                                               ..
Gujarati speaking Teaching Assistant                                            1
Qualified SEN Teachers  Autism/EBD/ADHD/PMLD                                    1
Team Leader  Support Manager  MH  Surrey  Guildford                             1
Internet TV / Mobile TV Project Manager                                         1
Senior Practitioner Job Colchester Permanency                                   1
Perl Developer | Perl HTML CSS JavScript Linux                                  1
Breakfast Chef – New Opening Restaurant – London  ****                          1
Care Assistants/Care Workers/Home Carers Chester                                1
COMPLIANCE ADVISORY – 12 MTH CONTRACT – REGULATORY ADVISORY EXPERIENCE REQ’D    1
Embedded Software Engineer (C++)  Middlesex                                     1
Dispensing Optician  Huddersfield  ****                                         1
Nurse / Senior Nurse  RMN  Derby                                                1
Java GUI Developer (Senior)  Oil Gas                                            1
Audio Visual Systems Design Engineer                                            1
Senior C Web Developer                                                          1
Registered General Nurses (RGN) Band 5 Blackburn Lancashire                     1
Embedded Software Engineer, StokeOnTrent, Staffordshire, ****                   1
L**** Avaya Engineer                                                            1
French Speaking Accounts Payable Clerk                                          1
RGN Prison Nurse Job Staffordshire                                              1
1st/2nd Line Support Analyst                                                    1
Support Worker Jobs Aberdeen                                                    1
Staff Nurses Poplar, East London                                                1
****  IMMEDIATE STARTS  SALES CUSTOMER SERVICE                                  1
Change Coordinator                                                              1
General ManagerLeading Restaurant GroupLondon                                   1
Teacher of Philosophy required for ASAP start                                   1
Senior Sales Executive, EMEA eCommerce solutions,                               1
Home Manager  established small home                                            1
Home Manager Aberdeen ****K BONUS                                               1
Name: Title, Length: 25077, dtype: int64

In [75]:
print(dataset1.loc[19])
print(dataset1.loc[19]['Title'])

Id                                                           25452680
Title               Senior Sous Chef for **** rosette kitchen, up ...
Location                                           North East England
ContractType                                            not available
ContractTime                                            not available
Company                                               Clear Selection
Category                                  Hospitality & Catering Jobs
Salary per annum                                                26004
SourceName                                                caterer.com
OpenDate                                              20120101T120000
CloseDate                                             20120115T120000
Name: 19, dtype: object
Senior Sous Chef for **** rosette kitchen, up to ****

In [76]:
for record in dataset1.Title:
    if '*' in record:
        if 'k' in record or 'K' in record:
            print(record)

CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL NYORKS  ****k
Senior Sous Chef for **** rosette kitchen, up to ****
General Manager  Funky, Cool Restaurant Concept  London  ****k
Chef De Partie up to ****  Tips Ipswich Outskirts
Chef De Partie Norfolk Live In up to ****  Tips
Commis Chef  Milton Keynes **** package
Care Home Manager Job North London ****K
Staff Nurse (RGN) Doncaster ****K
Quality Manager – Nursing Homes Scotland ****K
RGN Blackpool **** per hour
Home Manager Inverness ****K
Home Manager Stockport ****K
Home Manager South Yorkshire ****K
Home Manager Barnsley ****K
General Manager Manchester ****k
Home Manager Clydebank ****K Bonus
Home Manager Aberdeen ****K BONUS
Care Home Manager Perth ****K
Home Manager Leeds ****K
Home Manager Rotherham ****K
Home Manager Fife ****K
Staff Nurse Stockton on Tees ****
RGN Deputy Bakewell **** p/h
Nurse Manager Altrincham ****K
Registered Nurse Blackpool ****
RGN Stockport Days, **** ph
Deputy Manager Middlesbrough ****K
RMN Nights Darlington ****K
RMN/RGN Nurse Stoke ****
**** x Qualified Social Workers Child Protection
**** x Qualified Social Worker Adults
Home Manager South Manchester ****K
General Manager  Brilliant Company  East London  ****k  ****k
General Manager  Brilliant Company  North London  ****k  ****k
 CHEF DE PARTIE  **** RED STAR  **** ROSETTE KITCHEN  **** to ****
RMN Nurse, Newark **** p/h
Senior Support Worker x**** Evesham
Qualified Social Workers x****
Home Manager Sheffield ****K
Chef De Partie required Norfolk Live in ****  Tips
Care Home Manager North Yorkshire ****K
Head of Care/Clinical Lead, Stoke ****
Assistant Manager Brilliant New Restaurant  Exeter  ****k
Unit Manager RGN/RMN Southport ****K
Adults Social Workers x ****
 JUNIOR SOUS  **** ROSETTE  **** STAR HOTEL  DORKING  ****
 COMMIS CHEF  **** ROSETTE  WELL KNOWN COUNTRY ESTATE  ****
Earn up to **** per week Rewarding job in Care
Senior Developer  CNet  Permanent  Aberdeen  Up to ****k
Software Architect, London, To ****k DOE
Software Engineer, C++, MFC, STL  ****k  East Grinstead
Cisco presales in Sheffield  ****k package
Oracle Financial Consultant  Consultancy  up to **** basic  pack
Sharepoint/Net Developer  Manchester ****k
Linux Systems Engineer  Redhat/Networking  Permanent  Edinburgh  to ****k
Software Developer  C, ASPNet  Permanent  Glasgow  to ****k
Software Developer  C, ASPNet  Permanent  Edinburgh  to ****k
Systems Administrator, Linux, West London, ****k DOE
General Band 2 / Care Worker West Midlands Shropshire up to **** per hour
Home Manager (Relief) Glasgow ****K
Home Manager Manchester ****K
Home Manager Sunderland ****K
PR Director  European and New Markets  FORTUNE **** FINANCIAL SERVICE
Finance Manager  MI Specialist circa ****k  East Midlands
Electrical Engineer/Programmer ****k  West Midlands
Hardware Engineer Electronics (Tech Track ****)
Senior Engineer/Associate Director/Cumbria/****k
Requirements Engineer  Reading  ****k
Residential Care Home Manager Elderly ****k Brierley Hill
Care Home Manager Inverness ****K
Head Chef  Nottingham area  Branded Restaurant Salary OTE ****k
Primary School Teacher KS****
DEPUTY CARE HOME MANAGER NEEDED FOR STUNNING HOME UP TO ****K
Software Engineer up to ****K
Deputy Manager  Greater London (North)  Gastro Pub  ****K
SaaS Project Manager  Global System Integrator  ****K****K  bonus
Chef de Partie  ****AA Rosettes  Luxury Hotel  Cheshire ****K
Lead Developer  Chester  ****k
Chef de Partie – Suffolk  ****AA Rosettes – **** Live In
Helpdesk Analyst  Professional Services, Windows XP/7, MS Office ****/2010
Packaging Manager – Northamptonshire  ****
Electronics Design Engineer  Micro/ASICS  **** ****k
Linux Kernel, Drivers, C, x**** Cambridge
General Manager Suffolk up to ****
Nursing Home Manager Bradford ****k
Alternative Investment Specialist – London  ****K Basic  ****K OTE
C Developer / Net Programmer; To ****k; Preston
2nd Line Support  To ****k  Slough
SharePoint/Application Support  ****k Mancheste
Commoditie Broker  ********k Basic
Technical Author/Writer; To ****k; Wolverhampton
 JUNIOR SOUS CHEF  **** RED STAR  **** ROSETTE KITCHEN  HIGH STANDARDS
Telesales  SEO Urgent OTE ****k
BREAKFAST CHEF REQUIRED **** HOTEL – SALARY ****
Sous chef  Must have at least **** rosette background
Sous Chef, Oxfordshire, Exciting New High End Gastro Pub, ****k
Chef De Partie **** Star HotelBerkshire
Delphi Developer ****k  ****k – Music & Entertainment Industry  London
Bar Manager  Stylish Bar  Soho  ****k
Head Chef  COVENTRY  New Branded Restaurant Up to ****K  bonus
Commis ChefMichelin Star**** Rosettes**** day weeksLive in available
C Developer Southampton  ****K to ****K
Draughtsman  AutoCad  ****K Yorkshire
Electronics Engineer  Milton Keynes  ****
KS2 teacher in Putney  Up to **** per week
DESIGN TECHNICAL SPECIALIST  ****K
QUALITY ENGINEER  c****K
Key Stage **** & 4 Teacher of Maths  Reading, Berkshire
C Developer  SharePoint/ Net; ****k; Manchester
Senior Social Media Consultant  3 month contract  ****k pro rata
TEST ENGINEER  Medical Software Engineering  Windsor, ****K, Windsor and Maidenhead
High Volume Restaurant Brand  up to ****K basic  Branded experience
LEAD TEST ENGINEER  Medical Systems Engineering Windsor, ****K, Windsor and Maidenhead
Chef De Partie, Suffolk/Essex Border ****
Chef De Partie, Suffolk **** rosette Hotel ****
Lead Net Developer / Architect  ****k  Bracknell, Berkshire
Network Security MSSQL PreSales Consultant >****K Package
SAS Risk Analysts x ****  Portfolio Management
Web Developer/C/ASPNet Worcestershire ****k
Head Chef  Cambridge **** Hotel ****k  bonus Head Chef
Salesforcecom Administrator, ****  ****K  Benefits, South East
C Developer  SharePoint / CRM ****k; Preston
Senior Software Engineer  ****k  Cambridgeshire
Sales Manager up to ****k  Bonus
Salesforce Business Analyst  Southampton/Fareham  ****K
Android Developer  Woking  ****  ****  Bonus  Bens
1st 2nd Line Support Technician  Bolton  ****k
Financial Controller **** star Hotel  to ****k  Financial Controller
Commis Chef up to ****k  Tips Suffolk Temp Live in
KS**** Supply Teacher
Technical Director  Fareham  ****K
Dynamics NAV Support Consultant, ****k, Bedforshire, NAV 2013
SENIOR CCNA/CCNP NETWORK ENGINEER  ****K  BRISTOL
SQL Application Support, Learn ERP Nottingham, ********k
C / ASPNET Developer  ****k  AL
MI / Reporting Analyst  Tier **** Bank BRISTOL
SQL / Net Specialist, Learn ERP Nottingham, ********k
Experienced KS**** required for NewcastleunderLyme Primary School
Project Manager  Engineering  ****k  Benefits
**** Reach Fork Lift Drivers Nights
Special Needs Teacher  ASD (Autism) KS****  South West London
Senior Production Engineer Electromechanical ****k
Project Engineer Mechanical Designs ****K
Electronics Engineer, Embedded Software, R D, York, ****
Manager  Stunning restaurant with Bedrooms  ****K  North Yorkshire
Sous Chef  Busy Hotel Devizes, Wiltshire ****k  live in
Key Client Consultant (Account Manager, Area Sales) BLUK****
Demi Chef De Partie, **** Brand New Kitchen
Senior Software/ Firmware Test Engineer : C, Embedded : Perm : Edinburgh  ****k
J****EE/Java Developer  Glasgow  ****K  ****K
Software Developer  C, C++, Java, top academics needed, MUST be British national, Surrey, to ****k  benefits
Lead Frontend Web Developer  ****k
Embedded C Software Developer / Engineer  embedded devices, C, Linux, RTOS, Perl, Python, mobile multimedia, top benefits, Cambridge, to ****k  top benefits package
PHP Developer  Edinburgh  ****K  ****K
Lead Software Developer  C++, Java, top academics, MUST be British national, Surrey, to ****k  benefits
Soft DSP Engineer (Senior)  design, software, DSP Engineer, Senior, multimedia development, Nr Severn Bridge, to ****k  excellent benefits
PHP Developer/MySQL Loughborough ****k
****GL Software Developer, Lincolnshire ****k
Web Developer Designer/HTML/CSS Leicester ****k
Senior PHP (LAMP) Developer  Oxford  Up to ****k
Sage 200 Technical Support Analyst/SQL Cambridgeshire ****k
Senior Technical Consultant Berkshire  OTE Up to ****k
Junior Developer (AspNet / SQL) Banking, ****k pa
Marketing Manager  Banking  Yorks  ****pd
Graduate J****EE Developer  Watford  up to ****K
Test Anaysts Wanted  Glasgow  **** month FTC  ****K
Data Analyst  Excel (SQL, VBA, Cognos, BO)  ****k  ****k
Net Developer/C/VB/SQL Nottingham ****k
IT/Manufacturing Design Consultant Derbyshire ****k
Year **** Primary Teacher needed for school located in Selly Oak
KS**** teaching job in Birmingham
Head Chef ****kbonus both increasing as business grows start asap
 CHEF DE PARTIE  DORKING  **** ROSETTE  **** STAR  QUALITY GROUP
New Opening General Manager  Aberdeen  ****K plus gen bonus
Assistant General Manager  New Opening  Aberdeen  ****K
SOUS CHEF  PREMIUM RESTAURANT GROUP  ABERDEEN ****K  BONUS
Chef de Partie  Woking Centre  fresh food  Branded **** Hotel
Commis Chef  **** Rosette  Main Kitchen  Temp live in
Sous Chef  **** Rosette  Warwickshire
Senior C WCF Developer Flexi Working Nottingham ****K
Graduate Software Engineer  graduate, entry level, CAD, mechanical, C, Scripting, C++, Cambridge, c****k
SQL DBA Support, Yorkshire, c****k
Mid level Solutions Architects needed  Stevenage ****k
Leakage Supervisor  FDTEC****
SAS AnalystYorkshire********  learn SAS BI
Deputy Manager  Beautiful Gastro Pub  Cambridgeshire  ****k  ****k
SAP Support Engineer  Rugby  Market Leader (****k  ****k)
IT Business Analyst Liquidity ****k
Senior Designer Digital Role  BH  ****k
Senior Microsoft BI Developer, City of London, ****k
SQL Data Administrator  ****k  Financial Sector
Senior Risk Strategy Analysts x ****  London  SAS
Senior Support Engineer  ADSL, WAN, LAN  ****k  ****k
Mechanical Sales Engineer  East Midlands  ****k  excellent
Head House Keeper **** Plus
Embedded Software Engineer, StokeOnTrent, Staffordshire, ****
Call Centre/Operations Manager, Reading, up to ****k
Trainee Wine Broker  Sales  ****k OTE
Software Developer (JavaScript)  Sheffield Upto ****k
Software Test Engineer (QA, Test)  Leeds  Upto ****k  Bens
Business Analyst (Ecommerce) High Wycombe up to ****K
Network Engineer  ****k  West Yorkshire
Senior Web API Tester Automated API Testing ****k Bristol
Ambitious C / Linux Software Engineers  new projects  next generation networking, C / Linux / drivers / kernel, Cambridge, Neg ****k  excellent benefits
Dynamics AX2012 Developer, Home Based, c****k
DEMI CDP Cambridge Hotel ****k  Rosettes
Crane Driver, Antrim ****k
Senior Network Engineer, Cisco, ****K****K
SharePoint Consultant (SQL Server, MOSS ****) to ****k
Linux Systems Administrator, Unix, ****K****K
KS **** Primary Teacher in West London
MS CRM Developer, Leicester, c****k End User, No Travel
Senior Project Manager, online, ecommerce, ****k plus ben
Senior BI Analyst  Cognos / OLAP  ****k  ****k  Package
Junior PHP Developer  PHP/Jscript/MySQL  Devon  ****k
Senior IC Validation Engineer  System Verilog / SpecmanE, BFM's, SoC, RTL, Network Products, Cambridge to ****k  Benefits
Junior Test Engineer Cambridgeshire ****k
Digital Brand Manager, FMCG, London ****k plus 20%, car, p
Java Developer X ****  Derbyshire Circa ****K
1st Line IT Support Staff / Helpdesk / Service Desk Engineer x****
General Manager Restaurant Opening Growing Group Milton Keynes ****k
CHEF DE PARTIE – **** AA ROSETTES – 4 DAYS PER WEEK  ****
 COMMIS CHEF  KNIGHTSBRIDGE  **** STAR  190 BEDROOMS  ****  TIPS
Junior Sous / Sous Chef  Chichester  Unique Establishment  ****K
Restaurant Supervisor, **** AA Rosettes Boutique Hotel, N Yorkshire ****k
Senior Implementation Project Manager  Up to ****k DOE, Surrey
Graduate IT Consultant / Junior Project Manager, to ****k
x**** Contract Well Services / Well Intervention Engineers, UK
Perm Res Deputy Manager York circa ****k RN/RMN **** hrs pr week
Applications Engineer  Homebased  ****K
Technical Support Windows, AD Castle Cary, Somerset To ****k
ENTERPRISE SOFTWARE SALES EXECUTIVE Public Sector ****k
Embedded Assurance Engineer  West Midlands  ****K
BI Developer  Dundee  MS BI Stack  ****k Excellent Bens
Graduate SQL Database Administrator  Cheshire  ****k
NAV / Navision Developer, END USER, Swindon, ****k  ****k
Senior Care Assistant NVQ****  Wokingham
Band 5/**** Community Psychiatric Nurse – East Suffolk  Ipswich
Application Support  ****k  ****k  Bonus  Incentives
ETL Developer/$****  ****k/SSIS/Downtown
ELECTRICAL MAINTENANCE ENGINEER STAINES ****K  ****k
International Music/Live Event Sales  Graduate Role, start early Jan ****k (****kOTE)
Negotiator / Branch / Lettings Manager  Estate Agency OTE ****k
Deputy Manager  ****k  Stunning Large Hotel & CC
Breakfast Chef  **** Star Hotel  Haslemere
GENERAL MANAGER **** COMPLETE PACKAGE CENTRAL LONDON
Amazing Unique Bar/Restaurant  Accounts and Admin Assistant  GBP ****K
Pastry Chef, **** rosette level, West Scottish Highlands, ****k
Head Chef Suffolk **** Live In  Tips
CONFIDENT EXPERIENCED FOOD LED MANAGER ****  PACKAGE
Cambridge Breakfast Chef  get back in the kitchen ****pw
Software Engineer NET ****K
Senior Chef de Partie, ****AA Rosettes, **** Hotel, EMidlands ****K
Deputy Manager  RGN/RMN  ****K
Account Manager, Web Development, Sales, ****k, Berkshire
Senior TEST ANALYSTjoin Times**** Best CompanyWest London****k
Probability Safety Assessment Engineer  ****k
KS**** Primary teacher in Cheltenham
Lead Enterprise Architect  Leading Consultancy  London  ****k
Business Analyst  Insurance/Risk  Qlikview  **** London
Product Manager Harrogate ****k  OTE  Benefits
Sales Specialist  Telecomms  Nr Chepstow  ****k
IT Sales Account Manager  London  ****k OTE ****k
International Property Sales    Broker (****k OTE)
Care Workers Top Rates of Pay **** to **** per hour
Care worker Job Birmingham **** to **** ph plus generous mileage
Java Web Applications Developer  Oxford  Up to ****K  Benefit
Senior Citrix Engineer  Xenapp ****  Sheffield  Perm  ****k
Software Support Project Planner Manchester ****k
PreSales Consultant  Warwick  c****pa
Test Analyst  Financial Services  Edinburgh  GBP****K  GBP****K
Developers (Unix/Linux & one of PHP, Python, Java, C++ etc)  ****k
SalesForcecom Consultant  Global IT Services  ****K  15% Bonus
SaaS Project Manager  System Integrator  ****K****Kbonusbenefits
Frontend Developer  Top Leisure Company  Hatfield  ****k
Senior Care Assistant NVQ****  StokeonTrent
Deputy Manager RGN/RMN Boston ****k per annum  Boston
Home Manager Non Nurse  Northampton  ****K Per Annum  Northampton
Senior Credit Risk Modeller  West Yorkshire  ********
Graduate Product Assistant  ****  ****k
Head WaiterMichelin StarLondon****k
Midlevel ETL Developer/SSIS/****K
Materials Handling Specialist / Sales / up to ****k
Autoclave Washer Disinfector Engineer Cumbria ****K  ****K
Assistant Manager Gatwick Lovely Restaurant  ****k
Assistant Manager Globally known Coffee Brand to ****K (H'row)
Head Chef  Bedfordshire  ****k
General ManagerMiltons Keynesexciting opportunity****kBonus
Strong Pastry CDP **** Star HotelBerkshire
Permanent Head Chef  ****k****k  Gastro Pub  Jersey
Sous Chef, Cirencester, New High End Gastro Pub, ****k, Live In
Chef De Partie, Cirencester, Exciting New Event Catering Company, ****k
Bar Manager  Lively, West End Restaurant  Central London  ****k
Chef de Partie  Fresh Food Hotel Bracknell RG**** ****klive in
CATERING MANAGER: Falkirk, Scotland – circa ****
General Manager  Brilliant New Opening  Bristol  ****k  ****k Bonus
CDP Kingston upon Thames  up to **** per hour Monday to Friday  Overtime
General Manager  Funky, Cool, Casual Restaurant Concept Oxford ****k B
General Manager  Stunning Gastro Pub  Bath  ****k ****k  Bonus
Assistant Manager  AWESOME New Restaurant Opening  Oxford  ****k
Net Developer / C / Belfast / ****k  ****k  Equity Stake
Nurse : Theatre Scrub Practitioner x **** JXVKXC****
Chef De Partie Suffolk ****  Tips Rosette Property
Urgent Sous Chef Michelin Berkshire upto ****K
Head Chef  Contract Catering  Kent  c****
Manager Dining Pub Newark, Nottinghamshire upto ****k Plus Tips, Bonus
General Manager Coventry Lovely Restaurant  ****k
Urgent **** Rosette Sous Chef Stamford, Lincolnshire upto ****k package
Senior Chef De Partie Warwickshire upto ****K plus tips and Live in
Urgent **** Rosette Sous Chef Stroud, Gloucestershire upto ****K plus gener
Chef de Partie, ****AA Rosettes, N Yorks, ****k
Net/C Software Developer  ****K  ****K
Graduate Test Analyst based in Crawley  ****K****K
Pensions Test Lead based in Crawley  ********K
Systems Analyst/ Java Developer based in Fareham  Up to ****K
Proposal Manager/Cambridgeshire/****k  10% bonus
Systems Admin  IIS / Apache  Bluechip ****k
Senior Java Developer  Newbury  Up To ****k
Automation Controls  Sales Engineer  South Coast Up to ****K
Financial Accountant  CIMA / CCAB  Liverpool  ****k
Telesales / Sales Executive to ****k  bonus  bens
Sales Engineer Energy, Oil Gas ****k  ****k  Car  Bonus
Financial Services Head Hunter Required OTE ****k  Incentives
SelfEmployed Sales Executive: Solar PV  Hampshire  OTE ****K
Primary Teacher Key Stage ****ey Stage **** Essex
Skills For Life Tutor (**** Hours)
Home Manager RGN/RMN/RNLD Peterborough ****k p/a  20% bonus
Deputy Manager RGN Derby ****k per annum
Software Test Analyst  Automation  ****k to ****k  London
Electrical Biased Maintenance Engineer ****k  ****k  Shift  City of London
Project Quality Engineer  Greater Manchester  ****k ****k
Web Developer for a digital agency (****k) in Central Manchester
INSURANCE CUSTOMER SERVICE MANAGER  WARWICKSHIRE  ****K
Java/ J****EE Developer Guildford Salary circa ****  ****K plus Benefits
Front end Web Developer/Web Designer  Southampton  ****k
SharePoint Developer, Basingstoke, ****k, SP 2010/SP 2013
Dynamics CRM Developer, York, c****k, market leading company
Software Test Engineer / QA Leeds Upto ****k  Bens
Digital Designer with Development skills (AS****/Flash) needed
C ASPnet MVC Web Developer  Pride Park, Derby  ****k
C / NET Developer  Software House  Warrington  ****k
SAP Security Authorisations Team Lead  London  up to ****k
Business Analyst Basingstoke, Hampshire  ****K
Software Engineer JavaScript/HTML  South Wales to ****k
Embedded Software Engineer / Pontefract / Upto ****k
C++ Software Engineer  Gloucs ****k > ****k  Ben
EPOS Software Support Engineer  ******** Bracknell
SAP FICO Consultant  London  up to ****k plus Benefits
Web Development Manager  eCommerce  Crewe  ****k
MS Dynamics NAV and Net Developer, ****k  ****k, Surrey
IT Systems Support Cambridgeshire ****k
Senior Project Manager  ****k  ****k  Southampton
Applications Software Development Manager Broadcast to ****k
Project CoOrdinator  Prince/MSProject  Bristol  ****k
Software Integrations Manager  SQL/Project  London  ****k
Senior Web Developer ASPNET C London  ****k
MS Dynamics CRM Solutions Architect, London, ****k****k
Internal IT Sales Executive Buckingham  ****k to ****k  OTE
Graduate Backend PHP Developer : Permanent : West Sussex  ****k
C Developer ASPNET  Bristol ****k  ****k
Software Dev Manager;cloud,mobile;Morecambe LA****;****k
Home working IT Reseller Account Managers required ****K  ****K
Newbury Software Test Engineer QA  **** ****k Automation Selenium
Software Developers x**** (grad  mid level) Glasgow ****K  ****K
C Net Software Developer, Peterborough ****k
Lecturer: Functional Skills Entry level, ALN (Teacher, Tutor) BLUO****
Part time Support Worker (**** posts)
Graduate Trainee Recruitment Consultants Wanted – Sunday Times Fast Track **** Company
Junior Banking Headhunter for Sales and Trading  **** to **** OTE
Mid Senior Digital Project Manager **** ****K West London
Residential Home Manager Corby ****k p/a Elderly Care  Corby
Senior Brokers  London  ********K Basic  ****K OTE
Sales Executive – UK Wide  ESP ****
SharePoint Consultant, Suffolk, ****k, Microsoft Gold Partner
Assistant Support Worker (Permanent, F/T ****hrs)
Home Manager Thirsk ****K
Piping Plant Pressure Integrity Engineer  ****k
AREA DEVELOPMENT MANAGER, SLOUGH  c****K  CAR  BENEFITS
Lecturer: Functional Skills Entry level (Teacher, Tutor) BLUO****

Front End Web Developer JavaScript CSS HTML ****K BANKING
Outstanding Recruitment Opportunities OTE ****k  Nottingham
Industrial/Driving Hot Desk OTE ****k  Wakefield
Industrial/Driving Hot Desk OTE ****k  Warrington
Industrial/Driving Hot Desk OTE ****k  Wembley
2nd Line Desktop Support  **** users
Graduate Trainee Corporate Sales Executive ****K OTE
Sales & Marketing Executive  **** Commission  Property
Technical Sales and Service Representative  Manufacturing  ****K  Swindon
Business Development Manager /B2B /Surrey /BasicOTE ********k
QA Engineer  Madrid  €****K
POS/POP, Business Development Manager, ****k – ****k  Uncapped OTE  Car
Assistant Manager  Reading C****K
Deputy Manager: Outstanding quality brand C****K
Family Business Huge UK expansion seeks **** Working Partners pt / ft
Debt Management Consultant ****k OTE  Bolton
Field Sales Manager  ****k  Bonus  Benefits
Support Worker SOTH****
Support Worker EAST****
Support Workers (LB****)
Support Worker (LB****)
Pre Sales Engineer / Lead 3rd Line Server Engineer  ****k  Farnham
Business Analyst  London  ****K  Sharepoint
BOOKKEEPER  ACCOUNTING PRACTICE to ****
Business Relationship Manager, – UK, N Eng/Midlands **** – Asset Finance
BOOKKEEPER to c****
IT Project Manager (C/ASPnet) ****K Leicester
Lettings Manager Estate Agent  Ladbroke Grove W****
Designer / Web Developer  Central London  Graduate  ****K
Sales Ledger Clerk (Finance, Accounts) BLUS****
Technical Engineer  MCTIP  Basingstoke  ****k
Italian  English PreSales Consultant London ****k
Deputy Care Home Manager  Sevenoaks  ****
C/C++ Reasearch Engineer/Reasearch Scentist, East Sussex, Cr ****k****k
Account Director (Field Marketing)  ****k  Brsitol /London
Brand and Marketing Executive  ****k  Gloucs
**** x Phlebotomist  West End ****k Immediate Start
Software Project Manager / Package solutions / Redhill  ****K
LOGISTICS COORDINATOR, ANDOVER, HANTS  ****K  BENEFITS
Software Developer / Java / St Helens  Upto ****k  Bens
Embedded Software Engineer / Burnley / Upto ****k
Embedded Software Engineer ((C++ or Java) and Linux) upto ****k
Developer ****k
Senior Java Developer ****K Career Progression
Pastry Chef  Boutique Hotel Michelin Standard  Sussex ****k
Waiter  Hotel du Vin York  ******** per hour including service charge
Commis  Country Club  North Surrey  ****k
Assistant Manager  NEW OPENING REST/BAR  Reading ****k OTE
Assistant General Manager High Profile Restaurant & Bar Oxford ****k
Night Chef  CDP  Berkshire  ****K
GROUP EXECUTIVE CHEF  SOUTH EAST  PCK ****K
KS**** PPA Position
IT Sales Account Manager Hemel Hempstead ****kOTEBE
IT Sales Executive Bradford ****K  OTE  PROGRESS
Project Manager  Intranet  Banking  ****k
iOS Developer Apps iPhone OO  London to ****K
PHP Developer, LAMP Software Engineer ****k
Business Development Manager  PPM Software  ****k ote
Solutions Architect / PreSales WAN / MPLS Surrey to ****K
Wintel Infrastructure Support Engineer  ****k  London
SOFTWARE SALES SPECIALIST / LICENSING SAM / LONDON SE / ****K BASIC
Senior Net Developer  Abingdon  ****k
3rd Line Project Engineer (MCSE) ****K package
Enterprise Solutions Architect  Oxford  ELT  ****k
Sales  Trainee Stockbroker ****k OTE
Internal Sales Executive  Basingstoke  ****K****K  OTE  IT
Business Analyst  Fleet  Agile Experience, Transition  ****k
Agile / Waterfall Project Manager  Cardiff  ****k
Lead PHP Developer / SSL  Manchester  ****k
Java Analyst Developer Slough salary Circa ****  ****K  excellent bens
C, Net, TCP / IP, IT Development Project Manager Leicester **** / ****K
Aspnet Developer  South London  up to ****k
Sales Manager, Financial Services / Charity London / SE  ****k
Senior Software Developer/C/Net Cambridge ****k
4th Line IT Engineer Bracknell ****k to ****k Benefits  Field
Lead PHP Developer LAMP/ Wordpress/ MySQL/ jQuery ****K London
Project Planner /Programme Planner South London ****k  ****k Bens
Web Developer ASPNet; C, SQL Server; Romford ****k
Financial Controller / Management Accountant  Gloucester ****k
ECM Consultant, ****K  Bonus, UK wide locations
IT Support Engineer Southampton  ****K to ****K
Java Programmer ****k  ****k
1st Line Helpdesk Engineer ********  Epsom
Java / J****EE Developer, ****K, Stockport
Unified Communications Lead Engineer  Lync, London, ****k
MS Dynamics NAV/Navision Consultant ****k ****k,Yorkshire
iOS Developer Objective C / XCode/ PHP/ MySQL  ****K
Data Analyst SQL / ETL Castleford  ****K
Deputy Programme Office Manager : Permanent  ****k DOE : Reigate
IT Support Engineer  Windows/Citrix  ****k  benefits
Internal B2B Sales Executive Leighton Buzzard  ****k****kOTE
Network Manager, Infrastructure, Server Support, Romford ****k
Field Sales Executive  Construction/ Plant Hire  ****k
Web Developer; PHP, MySQL, XHTML, CSS, JavaScript, Chester ****k
Field Sales  Document Scanning / Bureau  Coventry  ****k OTE
Spanish Sales Executive Coventry ,UK ****k
Field Sales Executive  Plumbed Water  London  ****k OTE
Field Engineer  PDA / Mobile  London, ****K
Student Support Worker (Learner Support / Education / Classroom Assistant) BLUS****
Flexible Support Work **** ****/hour: Homelessness KENT
RGN Deputy Bromley ********k
Project Manager  Birmingham  ****  ****K
Area Sales Manager  Water Coolers  London  ****k
PPC Executive  ****K
Junior product manager for software company ****k
QTS/NQT KS**** Primary Teacher
Operational Risk Manager  **** month FTC
Capital Reporting Specialist – Yorkshire – Up to ****K
Senior Internal Auditor –Yorkshire – Up to ****K
Senior Credit Risk Analyst – Yorkshire – Up to ****K
Biomass Engineer  Wiltshire  ****k  ****k
MECHANICAL FITTER LONDON AND M3 CORRIDOR MOBILE ****K
Embedded Software / C / RTOS ****K High Wycom
Production Engineer  Northampton  c ****k doe
SAP (Senior Authorised Person)  ****KV  EPN
Sales Executive  pound;****K pound;****K  OTE  Reading  Security Sales
Recruitment Consultants X****  Rochester, Kent
Assistant Manager  Gastro Pub  York pound;****k
FPGA Development Team Leader ndash; Bournemouth  pound;****k
****  ASPNET / C Developers  West End  pound;****k
Service Operations Specialist  Windows  2nd Line  pound;****k
Trainee headhunter to join our training programme ****k basic ****K OTE  JANUARY START
FLEXIBLE HOURS – FLUENT GERMAN PROJECT ASSISTANT  ONGOING BOOKING  c**** PH
Sous Chef  Hotel straight shifts ****k
Event Sales Coordinator ****k Weybridge
General Manager ****k Godalming
Breakfast Chef/ CDP ****k Haslemere
Sous/ Snr Sous Chef ****k Ottershaw
Assistant Manager Delice de France Excel London to ****K  Bonus
Restaurant Manager – Shropshire – ****AA Rosettes – Live In – ****K
Chef de Partie – Cumbria  **** AA Rosettes – up to ****K
Amazing Unique Bar/Restaurant  Reservations Supervisor  GBP ****  ****K
Stunning Venue / Bar General Manager / Chester  ****K
Sous Chef – Somerset – **** AA Rosettes – ****K  ****K
CHEF DE PARTIE BUCKINGHAMSHIRE ****AA ROSETTE, ****
Permanent Junior Sous PastryChef  ****k  Highly Acclaimed North West
Permanent Junior Sous Chef  ****k neg  **** AA Rosette  Gloucestershire
Assistant Manager Amusements Up to ****k
Sous Chef  Pastry, **** rosette level, Cheshire, ****k
Sous Chef – fresh branded operation – Leeds ****k  ****k
Junior Sous Chef, **** rosette level, ****k, Cheshire
Chef de Partie, Modern European Restaurant, West Sussex, to ****k
Senior Sous Chef, Near Salisbury, Food Led Pub, ****k Package
Chef de partie  live in  Hotel  ****k
Group Bar Manager / Operations Bar Manager Award Winning Bar and Restaurant Group ****K bonus
General Manager– Award Winning Restaurant – Castleford  ****K  ****K
Assistant Manager  NEW OPENING  York  ****K  ****K
Senior Sous Chef, Michelin level, North West, ****k
Sous Chef – High Quality British Gastro – London ****k
Sous Chef – Excellent British Brasserie  London ****k
Chef de Partie  up to ****k  Cheshire
Sous Chef ****AA Rosette Fantastic Opportunity Stamford/Oakham ****
Breakfast Chef  Chef de Partie  Newcastle  ****  EVENINGS OFF
CHEF DE PARTIE  UPTO ****K
Chef de Partie **** ****AA Rosette Hotel Leicestershire ****k
Assistant Manager Lively Pub SW London circa ****k package
Operations Manager Educationcirca ****KSouth East
Chef de Partie, **** rosette  level, Cheshire, ****k
Head Chef  Small Luxury Award Winning Hotel  ****K  Bonus
Junior Sous Chef  **** Hotel  Leading Hotel  ****K
Sous Chef Required for Reputable Oxford Hotel ****k LiveIn
Senior Chef de Partie  **** Hotel  ****K
Chef de Partie  **** Hotel with ****AA Rosettes  ****K  Accommodation
Chef de Partie  Quality Food Contract  Monday to Friday (****hrs p/wk)
Assistant Manager, Red Starred Hotel, Scottish Highlands, ****k
Urgent Michelin Chef De Partie Cheltenham Gloucestershire upto ****k
Senior Chef de Partie  ****k  amazing opportunity
Junior Sous Chef, ****AA Rosettes, Luxury Hotel, Northwest, ****k
Head Pastry Chef, Michelin & multi Rosettes, North Yorks, ****k
Account Handler, Corporate Clients  West Yorkshire ****k****k
Account Executive (North West)  ****  ****  Package
Development ExecutiveCorporate Insurance (North West) ****k
Windows Systems Engineer  VMware, IIS, C  Surrey  ****/****k
Maidstone  Junior Investment Brokers  ****k  ****k OTE
Desire a Change?  London  ****K Basic  ****K OTE
Openers Needed – Central London  ****K Basic  ****K OTE
Senior Recruitment Consultant  InHouse (OTE Up to ****K)
IT Sales Executive  Burnley  ****k to ****k  OTE  B2B
Field Sales Executive (OTE ****K Uncapped)
Territory Manager  Ortho  Medical Sales ****k OTE uncapped
Sales Executive  ****K****K  OTE  Reading  Security Sales
Structural Design Engineer Yorkshire ****
Design Engineers x****  Yorkshire  ****
Sous Chef  Leading **** Hotel  Award Winning Hotel Group  ****K
Chef de Partie  ****k  7 shifts
General Manager Leicestershire Restaurant Group **** to ****K bonus
CHEF DE PARTIE  ****K  ****AA ROSETTES  IMMEDIATE START  CENTRAL LONDON
Sous Chef  ****k  London  8 Shifts
General Manager New Market NEW RESTAURANT OPENING ****  ****k bonus
Sous Chef  French Brasserie  Windsor  ****k plus bonus
Sous Chef  Excellent Hotel  Hertfordshire  ****K
HEAD HOUSEKEEPER  GLOUCS  ****K
Head chef ****K PLUS BONUS
Sous Chef  Well known Restaurant  ****k
Front of House Supervisor, Suffolk, Boutique Hotel, ****k
General Manager Award Winning Restaurant  Doncaster  ****K  ****K
General Manager CHELMSFORD ****K
Assistant Manager Caffe Ritazza Euston to ****K
CHEF DE PARTIE  ****K  ****AA ROSETTE  IMMEDIATE START  SW LONDON
Chefs Required  Temp Agency Chefs  Production Kitchen ****p/hr
JUNIOR SOUS CHEF  ****K  **** STAR DELUXE HOTEL  WORLD FAMOUS  LONDON
Sales Manager Leisure Venue  ****k plus Benefits
Senior Pastry Chef  1Michelin  Central London  ****k
Chef De Partie, Oxfordshire, Stunning Gastro Pub, ****k, Live In
Restaurant General Manager  Fresh & Seasonal Menus  Nr Exeter  ****k
Chef De Partie Towcester Northamptonshire ****K plus tips and Live in
CREDIT ANALYST  up to ****k  London
Committee Secretary  London  ****k
SOUS CHEF  Main Kitchen  **** star Hotel London  SOUS CHEF ****k
Chartered IFA Farnham Up to **** , **** (********k OTE)
Assistant Manager  Global Coffee brand  Victoria (****k)
Asst Restaurant Manager ****k Redhill
Chef de Partie Mon to Fri Private Club London EC**** ****k
Head Chef ****K Branded Operation Glasgow
Junior Sous Chef **** Hotel Cheltenham ****k Junior Sous Chef
Commis Chef Michelin Chipping Campden, Gloucestershire upto ****k plus t
SALESFORCE ADMIN/DBA  LONDON  ****k
Multi Skilled Maintenance Engineer x ****
**** x Account Executive (IT sales)  Basingstoke
eCommerce Marketing Manager  ****K
IT Assurance Senior  Insurance Consulting  ****K
Deputy Home Manager (Nursing) Oxon ****k  Oxford
RGN/RMN  ****k  Preston  Preston
Occupational Therapist Neurological Peterborough ****k p/a  Peterborough
Clinical Lead / Deputy Home Mgr circa ****k Perm Burton  Stafford
x**** Staff Nurses RGN Thirsk **** p/h  Thirsk
Account Executive/Senior Account Executive, Corporate PR/Business consultancy, London, ****K****K  excellent benefits
Clinical Lead  **** per hour  Worksop
Regional Business Development Manager  North  c****kbonus  Barnsley
Home Manager  Tendring  ****K  Chelmsford
Staff Nurse RGN/RMN  Tewkesbury  **** Per Hour  Tewkesbury
Deputy Nurse Manager  Kettering  **** Per Hour  Kettering
Teaching Assistant  KS**** class
TEST ANALYST  Join a Leading Fund Manager  Essex, ****K
SQL, SSIS, SSAS, SSRS BI Consultant, ****K, London
Sales Manager  WMS / SCM / Logistics  UK wide  ****K OTE
Solutions / Enterprise Architect Oxford  ****k
SharePoint Solutions Architect, M4 Corridor, ****k
Product Manager  Lottery Systems London To ****k
Java / Spring / J****EE DeveloperLondon Upto ****k
ERP Senior Technical Consultant  SAP / INFOR ****K CLIENT FACING
Senior IT Project Manager, Applications, ****k
SQL Developer  ****K OLTP , High Traffic , Team Lead
Microsoft Dynamics AX Project Manager ****k Benefits
SQL  Senior DBA / Database Administrator, TSQL, London, ****K
C Developer ****K  Desktop , WinForms , SQL , Web Services
Business Process Analyst  eCommerce  ****k
PHP Web Developer London  ****k  bonus  benefits
Network Projects Engineer ****k (Cisco CCNP)
Project Manager, London, ****k
Net Developer (Snr); AspNet, C; SQL Server; Northampton ****k
Net Developer  C  Near Leeds  ****k
Embedded Software Engineer Chester Circa ****k
International Marketing Manager  **** , ****
PR and Marketing Communications Manager, ****K
ASPNet Developer Master the WEB Preston ****K
Software Test Analyst  Bluechip  ****k
NET Web Apps Developer Edinburgh ****k
ASPNET C Software Developer Macclesfield ****K
TRAINEE IT MANAGER  SYSTEMS ADMIN  ****k  Berks
Application Support Analyst  SQL, Axxia, West London, ****k
German Inside Sales Representative ****K OTE London, UK
FINANCE SYSTEMS ANALYST PERM WARWICKSHIRE  ****K  BONUS
Digital Marketing Executive c ****k / Norwich
IT Governance Analyst  Banking  ****k
Senior Product Manager (Hosted Services) ****k
Lead Test Automation Engineer ****K
Credit Risk Analyst  North West  ****
First Line Support East Grinstead ****K
SQL Server DBA Manchester ****k
C NET SOFTWARE DEVELOPER AGILE ****K NORTHAMPTON
Software Developers : Permanent : Basingstoke  Up to ****k DOE
Digital Marketing Associate  Reading  Renewable Agency  ****k
C ASPNet Developer  Near Dewsbury  Up to ****k DOE
C Developer  Near Wakefield  ****
Dynamics AX Technical Support Analyst, Hampshire, c****k bonus
NAV / Navision Developer, Wembley, ****k  ****k,
MS CRM / ASPNET Developer, Manchester, ****k  Latest Tech
Dynamics AX Developer, Hampshire, c****k  Pension
AX Support Consultant, Manchester, ****k  bfts
Dynamics NAV, Senior Developer, ****k****k, Buckinghamshire
C / ASPNET / MVC Developer, York, ****
Accounting Software Support Learn ERP London ****k NO TRAVEL
Sales Account Manager (OTE ****K)
Trainee Sales  Broker (**** Positions)
Sales / Commercial / Key Account Manager to ****k  bonus
Dynamics AX Technical Support Analyst  Manchester  ****k
Software Developer  C / ASPNet MVC  Brighton  ****K
PHP Web Developer  PHP/MySQL/HTML  Bristol  ****k
Infrastructure Field Engineer  ****k  Bracknell, Berkshire
London Test Analyst QA Analyst  **** ****k x
PHP Developer / Senior Developer  ****k  ****k
Information Security Officer  PCI, CISSP, QSA  ****k
MS Dynamics NAV Developer Gold Partner, ****K
CRM Business Development Manager ****K FinServ
Dynamics NAV / Navision Presales Consultant, ****k plus bonus
**** x PHP Developers Growing company in Fife  ****K  ****K
Capacity Availability Manager  Chippenham  ****k
Infrastructure Security Engineer  PCIDSS, CISSP  ****k
Senior C Net Developer ****k
Senior PHP Developer PHP****  Brighton  ****K
Technical / Test Architect ****k London, Java Automated
C / ASPNet MVC Web Developer  Derby  Circa ****k
Consulting Solution Architect  Desktop, Windows, Mail, Office ****
Senior Java Developer  Groovy / Grails  Oxfordshire  ****k
Automation Test Analyst  Canary Wharf To ****k  ****
Lead SharePoint Developer, Johannesburg, CTC****k, Team Lead Opp
Systems Architect, Systems Analyst, to ****K, Surrey
Support Engineer 2nd Line  ****k  SW London
Technical Support Engineer (Nortel / Avaya Aura) to ****K
Software Developer | C | ASPNet | Bracknell | ****k****k
Graduate Software Engineer  C++  Near Sheffield  ****k
C ASPNet Web Application Software Developer Cambridge ****k
Principle Mitel Engineer MIDLANDS to ****K
Backend Web Developer(J****EE), ****k, Leamington Spa
C ASPNET Developer  Manchester  ****  ****k
Web Operations Engineer  Global Media Company  ****k
Application Developer/C/PHP/SQL Cambridgeshire ****k
Junior / Mid level Java/ J****EE Developer  Chessington Circa ****K
Senior Cisco Network Engineer CCNP/CCDP/CCIE Croydon ****
Software Engineer C, NET, ****k Dorchester, Dorset
DataCentre Engineer  EMC Networker, Netbackup  ****/****k  Bens
Network Engineer  New Malden, South West London  ****
Asset Management Administrator / Bolton / ****K
Javascript Developer / Frontend Developer London ****k
Project Manager  Credit Risk Datawarehouse IT  ****k
Business Analyst  Market Risk Reporting IT  ****k
Application Support Analyst & Report Analyst  Bermuda ****K****K
Senior SharePoint/ Net Developer  Bermuda  US$****$****K  relocation
C++ Developer, ****k  ****k base  benefits
Senior Project Manager  ecommerce  London  To ****k
Enterprise Java J****EE Developer Leeds, Yorkshire
Development Manager/Lead Developer  London  ****k
ACCOUNT MANAGER  GERMAN  ****K  COMMISSION
eCommerce Project Manager, London ****K
Digital Project Manager  Manchester  ****  ****k
C Developer  (ASPNET / MVC/TDD)  ****K  Online / Ecommerce
Principal Software Engineer (Python), Linux, SNMP, Cambridge, to c****k
Head of IT (Hands on)  Growing Start up  Up to ****k Urgent
Test Analyst  Global Retail  ****k  Maidstone  Linux, PHP
Web Developer (Classic ASP, VBScript, SQL), SW London, ****k
Application Support Engineer,SQL,IIS,Deployment,TSQL,****k Berks
SQL Server DBA  ****k basic, SQL Server 2005/**** DBMS, TSQL
Games Developer, Unity, ObjectiveC, iOS, HTML, ****k, Liverpool
MS SharePoint PreSales Solutions Architect, CTC ****k
IT Consultant  IT Services Circa ****k London
Senior IPTV/STB Developer – Major Global Brand – London – ****k  bens
Head of Digital Analytics & Insights  London  ****k Package
NETWORK ENGINEER, CCNP OR JNCIS NOC SHIFT ROLE to ****K
UNIX Support AnalystBankCheshire****K
Graduate VBNet Developer  Swindon  ****K  Benefits
London  up to ****k  Front End Developer
Manual Web Tester  London  Up To ****k
Front End Developer  up to ****k  Hot Startup
**** x Qualified Social Workers Hospital
Project Manager  ****kv Substations
Control Systems Engineer  Essex  ****K
HV Cable Jointer s Fitters ****kv / ****kv
Carpenter  Berkshire  ******** p / h
Senior Online Content Executive  Global Travel Brand  ****k
QTS KS**** Primary Teacher Dudley
Lead Developer Java, C ****k
SQL Database Administrator – DBA  ****K – London – SQL DBA
Risk Analyst  London  ****
Lead SAP HCM Consultant – W London – up to ****k plus benefits
Test Analyst  Derivatives Technology ****K
Java Developers  Invest Bank  Sheffield  ****
Commercial Catering Engineer  Berkshire/Middlesex  ****k OTE
SAP HR Consultant  West London  upto ****k plus Benefits
SAP MM Consultant  Hampshire  up to ****k plus benefits
SAP FICO Support Manager  London  up to ****k plus benefits
PHP Web Developer  London  ****k to ****k
Linux Support Engineer  Cambridge  ****k  bonus
Account Manager, German Speaker, London, ********
FIRE PROTECTION ENGINEER, BELFAST, ****k  BONUS
iOS Developer Cambridge ****k
Data Architect  Global Blue Chip Firm  London  ****K  ****K  bonus
Lead Java Developer  ****k  London
Web Applications Developer  Cambridge  ****K
Analyst  Credit Risk, SAS, Excel  ****k  London
PreSales Solutions Design Con  Checkpoint/F****/Bluecoat
C/C++ Research Engineer/Research Scientist, East Sussex, Cr ****k****k
NET Developer, Manchester, ****k, End User
Java Developer  Leeds ****k
Business Analyst, Loyalty Marketing, City, to ****K

Net / CRM Developer, Surrey, ****K  Benefits
Dynamics AX Practice Lead, London, c****k
Project Worker  Mental Health x****
Customer Insight Analyst required c****k  top benefits
Sales Engineer  Chemicals up to ****k
Lead Business AnalystDebt FinanceLondon****K
Theatre Scrub Practitioner RGN London ****k p/a  London
Account Executive, Shopper Marketing, ****k
Dynamics CRM Business Analyst up to ****k  Benefits
Business Analyst  Regulatory Reporting  Tier **** Investment Bank
Junior Business Analyst  Tier **** Investment Bank  Market Risk
Internal IT Sales Executive  Milton Keynes ****k****k  OTE
IT Sales Consultant Milton Keynes ********
Internal Sales Engineer  Theale  ****k  IMMEDIATE OPENING
Telesales/ Telemarketers  Maidenhead up to ****k
Home Manager RGN Letchworth Garden City ****k  Hertford
Net / Java Software Developer Global Firm Manchester ****k
JavaScript Developer  Investment Bank  HTML ****
Anaesthetic Practitioner RGN London ****k p/a
Junior Telesales  London  ****K Basic  ****K OTE
Senior Executive  Madrid  ****K Basic  ****K OTE
Kitchen Manager, Reading, Branded Restaurant, ****k Plus Bonus
Head Chef, Oxfordshire, Quality Branded Operation, ****k  Bonus
Snr Wireline / Slickline Operator  ****k  Allowance
SOUS CHEF NEW BRANDED RESTAURANT LEAMINGTON SPA UPTO ****K
Assistant General Manager  Thriving Latin Restaurant  Liverpool ****k
Sous Chef  **** Hotel Horsham, West Sussex RH**** ****k  live in
Assistant Rest ManagerBranded RestSurrey ****k
Chef de partie  live in  ****k
Restaurant Manager  Bucks  ****K plus service
Bar Manager  ****  Buckinghamshire
Chef de Partie Wiltshire  ****k
Sous Chef, Restaurant, Rooms, Leisure, North Yorkshire, ****K
Relief Chef Contract Catering Northants up to ****k
General Manager  Knightsbridge Cafe & Deli NO EVENINGS up to ****K
Optical Assistant  Woking  ****
Electrical Design Engineer  Control Systems  ?****k  Worcester
Android Native Developer  Java SDK OO Agile  London to ****K
C++ SDK Software Engineer  London  up to **** , ****
SQL Server DBA / Database Administrator / SQL Developer, to ****K
Resourcer/Trainee Recruitment Consultant: ****k  ****k Basic
Mechanical Engineer Thermal Power Manchester/Scotland ****k****k
Quality Engineer ****  Electronics manufacturing background
Oracle Financial Consultant/London/****K  ****K
Solutions Engineer/Designer  Insurance ****k
Java/C++/C/Python Investment Banking  Hedge Fund ****k
Java, C, SQL, Commodities, Algotrading ****k
Java/J****EE Developer  permanent  North London  ****K  ****K
Net Developer/C/VBNET Cambridgeshire ****k
Project Manager (FTC)  Southampton, Hampshire  ****K
Senior Sharepoint Developer/MOSS/WSS Cambridge ****k
Senior LAMP Developer/PHP/UI Cambridgeshire ****k
Senior C++ Front Office Developer  Financial Services  ****K
C++ Software Engineer  Gloucestershire ****k > ****k  Ben
Front End Web Developer, London, ****k  ****k
Frontend web developer X****  learn backbonejs
Senior SQL Server DBA  High Traffic Web  Sharding  ****k
Lead SQL Server DBA  Online Website  SQL 2012  ****k
Senior Network Engineer/Consultant  Security Exp  Up to ****k
Business Intelligence (BI) Analyst  Market Leader (****k****k)
Mobile Developer  Applications (****k  users)  London
Murex Support Analyst  Banking  London City  ****k
Java Developer  Front Office  Risk  ****K
Network Security Engineer  Investment Bank ****K  London
Juniper Design Engineer  City  ****K
C/ASPNET Developer  Nottingham  ****K
Business Intelligence Practice Lead ****k
NoSQL Hadoop Developer  London, ****k  ****k per annum  benefit
Graduate IT Consultant1 years experience ****K Manchester
Graduate VBNET Developer  Swindon  ****k****k
QA Engineer  Selenium, Web Driver, NET  Bristol  Up To ****k
Linux Systems Administrator  up to ****k  London
Senior Front End Developer  London  ****k****k  Retail
C Analyst Developer  Manchester ****k****k
SAP BW Consultant  Birmingham/Manchester  ****k
PHP Web Developer  Facebook API  London  ****k  bonus  benefits
Systems Administrator, Linux, Windows, ****k****k
BOXI/Informatica Team Lead  London City  to ****k
Senior Developer  Ruby, Rails  Top Track **** firm
SQL Server Developer SQL/SSRS/TSQL ****k
Business Intelligence Reporting Specialist South West London ****k
Leading Digital Agency Senior Designer  London ****K
Oracle BI OBIEE Consultant  London  ****K****K
Drupal Developer/backend/modules/d****
Lead C Developer/TDD/Agile  Manchester  ****K
PMO  Senior  Leeds  ****K to ****K
Senior Dynamics CRM 2011 Developer  ****k  Benefits
Linux/Windows Support Engineer  Cambridge  ****k  bonus  shares
FEILD SALES  CROYDON & SUTTON  UP TO ****K BASE  ****K OTE
TRAINEE IT MANAGER  SYSTEMS ADMIN  ****k
Oracle Technical Support Analyst  Up to **** basic  package  Int
Senior Software Engineers  Glasgow  Up to ****K
PHP Developer  Fife  ****K  ****K
Test Team Lead  Financial Services  Edinburgh  ****K  ****K
Service Acceptance Analyst  to ****k  London City  Banking
CNET Developer  ****k  GU
C++ Software Engineer, Broadcast, ****k
Chef de Partie **** Star Hotel Cirencester GL**** ****k  live in
Commis Chef ****k **** Hotel Daventry, Northamptonshire
Chef de Partie **** Star Hotel Derbyshire DE**** ****ktipslive in
Waiter or Waitress Oundle Restaurant ****  ****k Tips
Chef de Partie ****AA Rosette Hotel Slough SL**** ****klive in
SQL Server DBA  Warrington  c****k
HR Programme Analytics Specialist  ****K  ****K
Principal Design Engineer/ upto ****k
Technical Manager / Product Manager (Design)  ****k
IT Graduate  Banking  London  ****k
Systems Administrator  Windows/Exchange/DR  Berkshire  ****k
Scientific Consultant  Maths, Physics, Materials, top academic quals needed, consultancy, Cambridge, to ****k  DOE
Dynamics NAV 2013 PreSales Consultant ****k OTE North West Eng
Web Test Analyst, Surrey, ****k, Testing, Agile, ecommerce
KS****  Year **** Primary Teacher
Systems Engineer, Surrey, Web Server, Apache, JBoss, Linux ****k
Manufacturing Systems Architect, Derbyshire ****k
iOS Developer  WYorks  ****  ****
OPTOMETRIST  HASTINGS ****K  ****K
OPTOMETRIST RETAIL SUPERMARKET CHAIN  ****K  ****K WEST DURRINGTON
CLINIC OPTOMETRIST/ MANAGER  BRIGHTON  ****K****K
OPTOMETRIST RETAIL SUPERMARKET CHAIN  ****K  ****K BRAINTREE
OPTOMETRIST RETAIL SUPERMARKET CHAIN  ****K  ****K PLYMOUTH
OPTOMETRIST RETAIL SUPERMARKET CHAIN  ****K  ****K HASTINGS
OPTOMETRIST  BOURNEMOUTH  ****K  ****K
Key stage **** and 2 teacher
Medical Communications Account Executive Berkshire ****k  Benefits
Principal Medical Writer Manchester ****k  Benefits
Mortgage Advisor – London  Up to ****k Basic
Oracle Developer / Designer – Leyland, Lancashire  Circa ****K
Broker Services Executive  ****  **** month maternity contract
Primary Teacher Key Stage **** Redbridge
Systems Administrator  SQL  Reports  Near Leicester  ****k
MI and Reporting Analyst/Developer Crawley ****k
Derivatives Compliance Executive  Reading circa ****K
Commercial Claims Broker  Birmingham City Centre  Up to ****
Senior Casualty Underwriter  Manchester, ****k  Package
IT Sales Executive / Software Solution Sales, OTE ****k
Insurance Pricing Manager  London  to ****k  bonus and benefit
IT Support Engineer SQL  Brighton to ****k
Project Manager  St Albans to ****k
Specialist Risk Analyst  Bracknell  ****
Outstanding Recruitment Opportunities OTE ****k  Sheffield
Outstanding Recruitment Opportunities OTE ****k  Guildford
PHP/Drupal Developer  Bristol to ****k
Android App Developer ****k
Commercial Insurance Account Handler  North Yorkshire ****k
PI Account Executive  London  to ****k  bonus
PI Account Executive  South Coast  to ****k  bonus
Web Developer  Senior / Graduate  Oxford  ****k
Accounts Administrator  Sage Line ****  Nottingham  ****k
Technical Manager, to ****k
Junior NET Developer **** Stockport
Finance & Operations Controller  North London  ****  ****k
Assistant Manager Mailbox's Busiest Restaurant  Birmingham ****k
ASSISTANT MANAGER LIVELY RESTAURANT GREAT PEOPLE  CARDIFF UP TO ****k
Deputy Manager  Direct Route to GM Role  Liverpool ****k
Business Development Manager, Motor Insurance  ****k, ****k OTE
German Speaking Regional Service Delivery Manager Frankfurt €****  €****K
DV Cleared Technical Consultant London or Cambridge ****K
Junior Digital Designer // London // Luxury Fashion // Up to ****k
PHP Developer, Reigate, ****k to ****k
EMEA Recruiter  (**** month FTC)  ****K  ****k  London
Online Marketing Coordinator (Ecommerce, SEO) BLUO****
Sous Chef  Award Winning Rosette Dining  Leics  ****k
Junior Sous Chef  Award Winning Rosette Dining  Leics  ****K
3rd Line Support Engineer  Linux / networking / security  ****
Senior Financial Planner  OTE ****K  benefits
Financial Planner OTE ****K
Keystage **** Primary School Teacher  Leeds
Year **** Class Teacher  Key Stage Two
Key Account Sales Representative  Engineering  ****K  Car  Gloucester
Mobile Web Developer , Agile , JavaScript, HTML5 London to ****K
Systems Documentation Author ****k Cheshire
Sales Executive  Logistics ****K OTE uncapped
FrontEnd Web Developer, Cambridge, ****k Negotiable DOE
Leisure Club Assistant Manager Basildon Upto ****k  Bonuses
IT Sales Executive / Business Development (IT Services) OTE c****K
Fluent Polish Speaking Incident Manager Krakow to ****K PLN per month
UI / UX / GUI Web Developer  Reading / Maidenhead  ****k
NVQ Assessor Banking/Financial Services South West Salary to ****kCar Allowance
C Developer  ASPNet London ****k
Senior CNET Developer  Harlow  ****k  Bonus
Affiliate Team leader ****k****k London
Senior SSRS & NET Developer  Staffs, ****k
AS**** Analyst Programmer  ****k  Manchester
ASPNET Development Lead  SaaS  Solihull, ****k
Marketing Manager **** month mat contract
SQL DBA  Manchester ****k excellent benefits
Technical Architect, NET,Agile****k****kLon
Accounts Assistant / Ledger Clerk  Sage  Croydon  ****k
Risk and Compliance Manager  Card Payments  Watford ****k
x**** Grads for Milton Keynes ****K  OTE Recruitment Co Training given
Internal Sales / Life Insurance / Milton Keynes / ****K Base
Inside Sales Exec Analytics Software ********K
Commercial ManagerDigital & Sport****k****k
Account Director Graduate Events ****K London
Front End/CMS Developer Nottingham c****k
Progress Developer Birmingham up to ****k
Head Chef  High Quality Gastro Pub  Hertfordshire  ****k
Account Director / Number **** Social Agency / Tech Clients / ****k
Telesales B****C  Free Training  ****k Basic/OTE ****k Plus
Instructional Designer // Worcestershire // ****k car & bens
DEMI CHEF DE PARTIE  NORTHANTS  ****K  **** STAR DELUXE HOTEL
NVQ Assessor Trainer Hospitality Chef Cookery D**** D**** A**** TAQA
Senior PHP Developer ****K****K
Deputy Manager  High Quality Gastro Pub  Nr Leamington  ****k
Junior Sous Chef  New Opening  StratforduponAvon  ****k
ParaPlanner / Trainee Financial Administrator, ****K DOE
Senior iOS Developer  London  ****k
C Web Developer  Chesterfield  ****k  ****k  ASPNET C
SQL Server Development DBA  ****k  Keele
Financial Controller  Near Plumstead  ****k
BI analyst  ****  ****k  Central London
Bar Manager  Leamington Spa  Hotel Bar/Restaurant  ****k
Finance Manager  Dynamics NAV  East London  ****k
Developer / Senior Support Consultant  NET C  URGENT  ****k
PPA teacher for KS**** and KS****
Warm Sales Advisor  Existing Customers ****k basic  commission
Open Source Tech Lead  Python / Django / Java  ****k  ****k
Statistical Modelling Manager  Manchester  ****k
VB Developer  Senior / VB / SQL  Watford  ****k
Senior Marketing Account Manager  Nr Reading  ****k
Embedded Software Tester Leicester Up to ****K
High End Sommelier Needed for New Opening Upto ****k W/London
General Manager  Plush Premium Style Bar & Dining  Newcastle ****k
Assistant Manager  Join the Revolution Milton Keynes Up To ****k
Assistant Manager  Join the Revolution Cardiff  Up To ****k
Assistant Manager  JOIN THE REVOLUTION Portsmouth  Up To ****k
Assistant Manager Stevenage's Busiest Restaurant  ****k
Immigration/PI/Criminal Solicitor **** PQE in WalesWORK PERMIT available
Senior Retail Credit Risk Manager  London  ****k
Service Delivery Manager  ITIL  Market Harborough  ****k
Commercial Consultants Urgently Required  OTE Circa ****k
NHS Data Expert Required  Up to ****k  15% Bonus
Field Service Engineer (IT / Electronics) to ****k
Python/Django Developer  Python,Django,HTML,CSS  London  ****k
KS2 Teacher Year ****/**** Class
Tecnical Support Engineer  MCP,MCTS,Windows Server  King's Lynn  ****
Senior Analyst Programmer North London ****k
Senior C NET Software DEVELOPER ****K Northampton
C NET Developer SQL ****k letchworth Hertfordshire
NET DEVELOPER C ASPNET SQL ****K IPSWICH
IT Manager  eCommerce  Near Stoke, Staffordshire  ****k
Marketing Manager  Technology Co  Oxford  ****k
Marketing Manager  Software Co  Watford  ****k
ICT Technician  Macclesfield, SK****
CRM Manager // Luxury Retail // London // Up to ****k
Lettings Accounts  East London, ****k
Web Quality Analyst  London  ****k
Junior Sous Chef  Cotswolds  ****k per annum
Java Developer Spring / Hibernate home based to ****k
Progress Developer  ****  ****k Birmingham
Support Manager  South Central  SSP to ****k
Accounts Payable/Receivable Clerk****K – ****K
Biomedical 2nd Line Analyst  Glasgow  ****k
eLearning Developer  HTML / CSS  Near Manchester  ****k
Flash Developer  Flash, Photoshop  London to ****k
Chef de Partie  Michelin Star  ****K  Live In
DEMI CHEF  BUCKS  **** STAR HOTEL **** ROSETTE  ********K TIPS
Graduate Recruitment Consultant – Earn ****K
Sales Managers, London, ********k (plus excellent commission structure)
Area Sales Manager, London, Up to ****k
Marketing Campaigns Coordinator  ****k****k  Ongoing Contract role
New Business Administrator– UK, SE Eng– **** – Asset Finance
Software Quality Engineer  TickIT, CMMi, AQAP **** AQAP ****
Recruitment Consultant – IT Sales – South Manchester  ****k
Night Manager  Exeter  ****  40 Hours per week
SSAS Client Administrator – Pensions Admin ****K BUCKS
Sales Engineer – Thermal Engineering  Midlands & South West ****K
NVQ Assessor Trainer Housekeeping Cleaning D**** D**** A**** TAQA
Croatian Speaking Account Manager (**** mths contract)
Insurance Customer Service Advisor  Black Country  Up to ****
Commercial Account Executive (North Yorkshire)  To ****
SEO Account Manager needed – Global Agency  ****k (DOE) London
UK Sales Manager (Office Supplies) ****k OTE
IT Technician (3rd Line) London ****K6 Month FTC
BI Consultant London****k
Sales AnalystLondon ****k****k
Business Development Executive  up to ****k plus bonus
Telecoms/Network Consultant  South Wales  ****k****k
PHP Developer  PHP,HTML,CSS,Drupal  Amesbury,Wilts  to ****k
Software Engineer  C,Embedded  NewcastleunderLyme  to ****k
Account Executives and SAEs, PR, London, Circa ****k  ****k
Financial Controller  ACA / CIMA  Dartford  ****k
BI DEVELOPER – ****k – LONDON – SQL  SERVER TSQL  URGENT
Employed IFA  Leeds  ****k basic
Bookkeeper and SMT support  SAGE Line **** and Forecasting
DEMI CHEF DE PARTIE BUCKINGHAMSHIRE ****AA ROSETTE
Credit Controller French speaking ****k Cambridge Excel Office
OO Perl Developer  New Start up London ****k
SQL Developer /DBA // North West // ****k  ****k
Online Marketing Exec ****k NW****
Product Specialist C ASPNET ****K WATFORD HERTS
Bakers required for a great supermarket in London ****k
Network Project Analyst  Manchester  ****k
CRM MANAGER – NORTH LONDON (20 MINS FROM KINGS CROSS) – UP TO ****K
Area Motor Underwriter  Hertfordshire  To ****k
Creative Artworker  Hemel Hempstead  ****k
Design Team Leader  Bournemouth  ****k
Packaging Designer  Rendering  Richmond,Surrey  ****k
Design Packaging Manager Rendering  Richmond, Surrey  ****k
Graphic Designer  Print,HTML,Flash  Swindon  to ****k
Senior Graphic Designer  Part Time  Reigate  ****k pro rata
Site IT Administrator  Cisco,Microsoft  Heathrow  ****k
PROJECT TEST LEAD – LONDON – ****K – Networks/Mobile ISEB PHD/SHD
Tester – CORE SWITCH & VOICE **** – ****K Unix/Oracle/TCP/IP
Automation Test Analyst  Android Native,Robotium London ****K
SEO Digital Account Managers  Chelmsford  ****K (DOE)
Sales Account Manager Affiliate Marketing – London ****K****k
Bookkeeper / Company Accountant – IB****
UX Testing Analyst  HR Intranet Project  Banking  City c**** a day
PASTRY CHEF DE PARTIE BERKSHIRE ****AA ROSETTE (LIVE IN)
KS**** & KS2 Teacher in Dartmouth
Marketing Manager – Hertfordshire  ****K  ****K  Benefits
IT Suport  1st/2nd Line up to ****K
Product / Marketing Manager  Personal Finance to ****k
C ASPNET SQL DEVELOPER  ****K London
Financial Advisor Basic **** Exceptional Bonus & Benefits Package
Data Centre Supervisor  ****k  Hemel Hempstead
Graduate Information Systems AnalystPermanentWest Cheshire  ****k
PHP Application DeveloperPHP,OOP,HTML,CSS,JS,MySQLBournemouth****k
Senior Systems Administrator London ****k
Junior NET Developer ****K  ****K  Edinburgh
Commercial Schemes Product Manager  London  to ****k  bonus
French or Dutch speaking Senior Search Executive  ****k
Head Chef ****K
Graduate Web Developer  Net  Bristol  ****k
Digital Account Manager  Top London Agency  Big UK Brand Up to ****k
KS**** Primary Teaching Job  Sandwell
Head of Search  Digital Agency  ****k
Primary Teaching Job  KS****  Sandwell
Pastry Sous Chef  Ascot  **** Country House Hotel  **** Package
NET DEVELOPER C ASPNET SQL ****K EDINBURGH
NET Developer  C,ASPNet,ntier,XML,SQL Server  London  to ****k
PHP Web Developer  Fareham ****k
SEO Account Director  Digital Media Agency  Central London  ****k
Credit Hire Recoveries Negotiator  Stockport ****k basic  bonuses
Finance Manager Exeter ********k
Treasury Accountant ********k Newton Abbot
Compliance Advisory Manager  Asset Management  ****k  City
Global Risk & Compliance Lawyer  ****  ****  City of London
Senior Net Developer  ****k  London
Web Designer Manchester  ****KBens
**** x Laser Cutting Sales Estimator  Blackburn ****k per year bonus
X**** Grads for Manchester MultiDisciplinary Recruitment Co ****K****K
3rd Line Support  Harrow / Middlesex  ****  ****K  excellent benefit
Head of Project Management – Senior PM – Coventry – up to ****k
MI Analyst  Manchester ****k Excellent Benefits
Senior Product Manager ****k Online RetailerWest London
Senior Business Analyst  Financial Services  Berkshire  ****k
Web Developer/Designer  HTML,CSS,PHP  Tunbridge Wells  to ****k
SOUS CHEF  **** – 1 weekend off a month –
Graduate IT Support Analyst (1st line)  London  ****k
Click Scheduler  South London ****K
LETTINGS NEGOTIATOR FULHAM ****k LONDON SW****
IS CNI Infrastructure Analyst Backups and Storage  ****
Sales Account Manager (OTE Up To ****K)
Trainee Estate Agent – London – ****K Basic ****K OTE  Company Car
Recruitment Consultant  HR  City  Basic c****K
Part Time Personal Banker Adviser  Thirsk (**** HOURS/WEEK)
****  ASPNET / C Developers  West End  ****k
Developer  JavaScript / WebGL  ****k
Network & Security Lead (Cisco)  ****k  Bracknell, Berkshire
Marketing Manager  Nr Basingstoke  ****k  FTC
SOFTWARE LICENSING SPECIALIST/ACCOUNT MANAGER/LONDON/****k basic
SOFTWARE LICENSING ACCOUNT MANAGER/CORPORATE SALES/****k Basic
Engineering Manager Mechanical Design ****k Worcester
PPC Account Manager  Central London  Health  GBP ****k****k
PA, Permanent, Central London, ****k
eCommerce Business Development Manager  City  Health  ****k
Head of Change  Prestigious Market Leader (****k  ****k)
iOS / Mobile Developer  Nottingham  ****k  benefits
C net Developer  ****K
Head Chef Luxury **** Hotel ****K Gloucestershire
Chef de Partie Luxury **** Hotel Worcestershire ****K
Chef de Partie Devon ****k Plus Tips and Accommodation
Senior Sous Chef | M Aspirations Restaurant | Somerset | ****K
Permanent Head Chef Banqueting  ****k  **** Star  Surrey
Demi Chef de Partie ****K  ****K Tronc Straight shifts
IT Product Manager  Great company  ****k****k base
Business Relationship Director  Transition City  ****k OTE
Senior User Experience Designer  Great Company  ****k****k base
Chef De Rang/Head Waiter Upmarket Leicester Hotel ****

It can be found that in the **Title** column, there are some special characters seem to have no meaning in this column, such as `up to ****`. By reading the title carefully, it can be found, some of this symbols should represent the salary, some of the symbols represet a number. it can be considered these characters may be replaced manually for privacy protection purpose. It should be retained in this case.

**Check the Location Column**

Next, we should check the `Location` column, based on the `describe()` method before, there are about 482 unique locations, There are several possible error for location data, such as: Typos, Location not exists(cannot be found), abbreviation etc.
- - -
We can first load the unique locations into a dataframe, with frequency of location.

In [77]:
locationCount = dataset1['Location'].value_counts().to_frame() #find unique location names

In [78]:
locationCount.head()

                   Location
UK                     3996
London                 2743
South East London      1433
The City                558
Leeds                   343

In [79]:
locationCount.columns = ['Count']

In [80]:
locationCount.head()

                   Count
UK                  3996
London              2743
South East London   1433
The City             558
Leeds                343

There are many locations in this dataframe, we should narrow the range. In practice, we can check the data with relatively low frequency, let's say, less than 10 times. (We assume data with high frequent relatively correct.) Now we create a new list contains data may need to be checked.

In [81]:
locCheck = locationCount[locationCount.Count<10].index.tolist()
locCheck[0:5]   #check the location appear less than 10 times

['Uxbridge', 'Frome', 'South Brent', 'Thame', 'Margate']

One way to find a location(address) in real life, it's using google map. In this task, we can use google map api instead. 
- - - 
**The advantages of this method**:
* find location precisely.
* fuzzy matching can find possible typos.
* large database support
- - -
**The disadvantages of this method**:
* can be time consuming.
* Free api have limitations.

In [82]:
gmaps = googlemaps.Client(key='AIzaSyC3GM3AP7cYIvsTCVcd0V5h7O06SzklhoA') #api key, may be replaced
geocode_result = gmaps.geocode('The City,UK') 
geocode_result     #get result, test api usage

[{'address_components': [{'long_name': 'City of London',
    'short_name': 'City of London',
    'types': ['locality', 'political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'London',
    'short_name': 'London',
    'types': ['locality', 'political']},
   {'long_name': 'Greater London',
    'short_name': 'Greater London',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'England',
    'short_name': 'England',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United Kingdom',
    'short_name': 'GB',
    'types': ['country', 'political']}],
  'formatted_address': 'City of London, London, UK',
  'geometry': {'bounds': {'northeast': {'lat': 51.5233212, 'lng': -0.0727492},
    'southwest': {'lat': 51.5067659, 'lng': -0.113821}},
   'location': {'lat': 51.5123443, 'lng': -0.0909852},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 51.5233212, 'lng': -0.0727492},
    'southwest': {'lat': 51.5067659, 'lng': -0.113821}}},
  'place_id': 'ChIJX4XfTlUDdkgRwISR0ciFEQo',
  'types': ['locality', 'political', 'sublocality', 'sublocality_level_1']}]

We can use the `geocode` api, which can use a string to search location in google map, get the fully description of that location. From the above test, we can know how to get the geographic information.

Searching the string `The City,UK`, we can find location named `City of London`(using `formatted_address` key)
- - -
**We should also exclude some general locations we do not need to lookup, such as `London` `UK` `England` **

In [83]:
'''
This function may take sometime.
'''

for location in locCheck:
    if 'St.' not in location \
    and 'London' not in location\
    and 'England' not in location\
    and 'UK' not in location:      # exclude location don't need to look up
        geocode_result = gmaps.geocode(location+ ',UK')
        try:
            formatted_address = geocode_result[0]['formatted_address']
            if 'UK' in formatted_address and location.upper() not in formatted_address.upper(): #map the address
                print('Original Locations:', location) 
                print('May Correct Location:',formatted_address) #match possible right location name
        except:
            print(location)  #cannot find

In [84]:
dataset1[dataset1.Location == 'Docklands']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
2036,60517865,Graduate Customer Service Advisor Job Docklan...,Docklands,full_time,permanent,NaN,Accounting & Finance Jobs,21996,randstadfp.com,20130705T150000,20130804T150000
8065,67895479,Payroll Sales Executive,Docklands,not available,permanent,Carrington Blake Recruitment,Sales Jobs,21504,cv-library.co.uk,20120404T150000,20120703T150000
8349,67944857,"SOFTWARE TEST ENGINEER Agile, TDD Docklands,...",Docklands,not available,permanent,Randstad,Engineering Jobs,42504,rengineeringjobs.com,20130915T120000,20131015T120000
9956,68180003,Project Manager Intranet Banking ****k,Docklands,not available,permanent,Rullion IT Plus,IT Jobs,62496,jobsite.co.uk,20130508T120000,20130806T120000
11803,68346992,Systems Administrator (Windows) London ****...,Docklands,not available,permanent,Ashdown Group,IT Jobs,37500,jobsite.co.uk,20130620T150000,20130819T150000
13732,68544877,Engineer Electrical large data centre enviro...,Docklands,not available,permanent,Experis IT,IT Jobs,45000,jobsite.co.uk,20120326T120000,20120525T120000
20751,68996214,Global Vote Audit Analyst (Proxy Voting),Docklands,not available,permanent,Wells Tobias,Accounting & Finance Jobs,21000,cv-library.co.uk,20130202T150000,20130503T150000
21865,69019190,Bookkeeper/Accounts with Quickbooks,Docklands,part_time,not available,Quay People,IT Jobs,9996,cv-library.co.uk,20130404T120000,20130603T120000

In [85]:
dataset1[dataset1.Location == 'Surrey'][0:1]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,27504,cv-library.co.uk,20121214T000000,20130314T000000

In [86]:
dataset1[dataset1.Location == 'Surey'][0:1]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
122,46626802,Nursing Home Staff Nurse Job Surrey,Surey,full_time,not available,NaN,Healthcare & Nursing Jobs,23040,careworx.co.uk,20130512T120000,20130810T120000

It can actually find some typos in the location. Such as: `Surey` -> `Surrey`,`Nottinham` -> `Nottingham`.

However, the `Docklands` should not be seemed as a error, the reason is that: This Location can be found in the website, In UK(London), this location may not be found in google maps as an accurate address. refer to [London Docklands](https://en.wikipedia.org/wiki/London_Docklands)

**Check Contract type & time**

In [87]:
dataset1.ContractType.value_counts()

not available    19499
full_time         4883
part_time          695
Name: ContractType, dtype: int64

In [88]:
dataset1.ContractTime.value_counts()

permanent        16194
not available     6212
contract          2671
Name: ContractTime, dtype: int64

From the above checking, it seems there are no obvious error, however, according to the specification, we can slightly change the `not availabe` to the term `non_specified`, we can consider it later.

**Check Company column**

In [89]:
dataset1[dataset1.Company.isnull()]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
51,34479775,Credit Controller,The City,not available,permanent,NaN,Accounting & Finance Jobs,24000,hays.co.uk,20120326T000000,20120425T000000
55,34790490,Java Developer,UK,not available,permanent,NaN,IT Jobs,33996,theitjobboard.co.uk,20120203T120000,20120304T120000
66,38209887,Transaction Services Executive,Bristol,not available,permanent,NaN,Accounting & Finance Jobs,37500,hays.co.uk,20120315T150000,20120514T150000
67,38209888,Audit Executive,Bristol,not available,permanent,NaN,Accounting & Finance Jobs,33996,hays.co.uk,20120610T120000,20120908T120000
68,38209893,Audit Assistant Manager,Bristol,not available,permanent,NaN,Accounting & Finance Jobs,35004,hays.co.uk,20120913T120000,20121112T120000
70,38758190,Account Executive,Basingstoke,not available,permanent,NaN,IT Jobs,18000,hays.co.uk,20120314T120000,20120612T120000
78,40880208,Compliance Manager,Salisbury,not available,permanent,NaN,Accounting & Finance Jobs,37500,hays.co.uk,20121119T120000,20130118T120000
81,41879934,Future Leaders Development Programme Technology,UK,not available,permanent,NaN,IT Jobs,36000,theitjobboard.co.uk,20120815T150000,20121014T150000
105,46626508,Support Worker Job Chepstow,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,12348,careworx.co.uk,20130407T000000,20130507T000000
106,46626509,Support Worker Job Abergavenny,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,14256,careworx.co.uk,20130614T000000,20130912T000000
107,46626511,Staff Nurse Job Berkshire,Berkshire,full_time,not available,NaN,Healthcare & Nursing Jobs,22560,careworx.co.uk,20121020T120000,20121119T120000
108,46626514,Pharmacy Technician Job Norwich,Norwich,full_time,not available,NaN,Healthcare & Nursing Jobs,18000,careworx.co.uk,20120819T150000,20120918T150000
109,46626520,Support Worker Job Cardiff,Cardiff,full_time,not available,NaN,Healthcare & Nursing Jobs,12552,careworx.co.uk,20130608T150000,20130906T150000
110,46626537,RGN Registered Nurse Job Southampton,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,23040,careworx.co.uk,20130824T120000,20131122T120000
111,46626546,RGN Nurse Job Bury St Edmunds,Bury St. Edmunds,full_time,not available,NaN,Healthcare & Nursing Jobs,23808,careworx.co.uk,20120312T150000,20120511T150000
112,46626547,Scrub Nurse Job Braintree,Braintree,full_time,not available,NaN,Healthcare & Nursing Jobs,30000,careworx.co.uk,20130419T120000,20130718T120000
113,46626549,Healthcare Assistant Job Nottingham,Nottingham,full_time,not available,NaN,Healthcare & Nursing Jobs,18000,careworx.co.uk,20120723T150000,20120822T150000
114,46626555,Consultant Clinical Psychologist Job Norwich,Norwich,full_time,not available,NaN,Healthcare & Nursing Jobs,50004,careworx.co.uk,20120314T000000,20120413T000000
115,46626557,Operating Department Practitioner ODP Jobs Not...,Nottingham,full_time,not available,NaN,Healthcare & Nursing Jobs,26004,careworx.co.uk,20121016T000000,20121115T000000
116,46626559,RGN Prison Nurse Job Staffordshire,Staffordshire,full_time,not available,NaN,Healthcare & Nursing Jobs,27504,careworx.co.uk,20120719T150000,20121017T150000
117,46626566,Clinical Research Nurse Job Nottingham,Nottingham,full_time,not available,NaN,Healthcare & Nursing Jobs,30000,careworx.co.uk,20130802T000000,20131001T000000
118,46626571,RGN Registered Nurse Job Durham,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,27000,careworx.co.uk,20120407T120000,20120507T120000
119,46626573,Prison Nurse Practitioner Jobs Nottinghamshire,Nottinghamshire,full_time,not available,NaN,Healthcare & Nursing Jobs,39996,careworx.co.uk,20130420T150000,20130619T150000
120,46626574,Care Assistants and Support Workers Job Glasgow,Glasgow,full_time,not available,NaN,Healthcare & Nursing Jobs,25920,careworx.co.uk,20130929T150000,20131128T150000
121,46626799,Saturday only Night Nurse Job Winchester,Winchester,part_time,not available,NaN,Healthcare & Nursing Jobs,25272,careworx.co.uk,20120114T000000,20120314T000000
122,46626802,Nursing Home Staff Nurse Job Surrey,Surey,full_time,not available,NaN,Healthcare & Nursing Jobs,23040,careworx.co.uk,20130512T120000,20130810T120000
123,46626826,Substance Misuse Nurse Kent,Kent,full_time,not available,NaN,Healthcare & Nursing Jobs,30504,careworx.co.uk,20131122T000000,20140121T000000
124,46626831,Registered Mental Health Nurse (RMN) Durham,Durham,part_time,not available,NaN,Healthcare & Nursing Jobs,29760,careworx.co.uk,20131027T150000,20131110T150000
125,46626832,Registered Mental Health Nurse (RMN) Sunderland,Sunderland,part_time,not available,NaN,Healthcare & Nursing Jobs,29760,careworx.co.uk,20130701T120000,20130830T120000
126,46626833,Registered General Nurse (RGN) Sunderland,Sunderland,part_time,not available,NaN,Healthcare & Nursing Jobs,28800,careworx.co.uk,20130424T000000,20130508T000000
...,...,...,...,...,...,...,...,...,...,...,...
23862,69166844,Nurse : Surgical Staff Nurse,Oxfordshire,not available,permanent,NaN,Healthcare & Nursing Jobs,27996,jobs4medical.co.uk,20120701T120000,20120830T120000
23863,69166851,Nurse : Deputy Nursing Home Manager ****,Suffolk,not available,permanent,NaN,Healthcare & Nursing Jobs,27036,jobs4medical.co.uk,20130330T000000,20130628T000000
23864,69167060,Nurse : Registered General Nurse Jobs in Leigh...,Bedfordshire,not available,not available,NaN,Healthcare & Nursing Jobs,26316,jobs4medical.co.uk,20130613T000000,20130713T000000
24582,69189730,Corporate Tax Compliance Senior Manager,Birmingham,not available,permanent,NaN,Accounting & Finance Jobs,62496,hays.co.uk,20120902T150000,20121201T150000
24586,69190364,Inclusion Support Assistant,Newcastle Upon Tyne,full_time,contract,NaN,Teaching Jobs,14412,fish4.co.uk,20120316T000000,20120614T000000
24592,69190507,Junior Database Administrator Holton St Mary,Colchester,full_time,permanent,NaN,IT Jobs,15504,fish4.co.uk,20130522T120000,20130621T120000
24596,69190934,Graphics Technician,London,full_time,permanent,NaN,IT Jobs,28548,fish4.co.uk,20120129T120000,20120428T120000
24629,69191688,Accounts Assistant (MultiLingual),Glasgow,full_time,contract,NaN,Accounting & Finance Jobs,18504,fish4.co.uk,20131120T000000,20131220T000000
24631,69191782,Domestic Violence/Abuse Support Worker,Liverpool,full_time,permanent,NaN,Healthcare & Nursing Jobs,19704,fish4.co.uk,20131016T120000,20140114T120000
24633,69192290,Progress Webspeed Developer,High Wycombe,full_time,permanent,NaN,IT Jobs,38004,fish4.co.uk,20130103T000000,20130403T000000
24634,69192326,Property Sales Consultant / Senior Sales Negot...,Manchester,full_time,permanent,NaN,Sales Jobs,17004,fish4.co.uk,20131117T150000,20140215T150000
24635,69192551,FT Skilled Senior Carers Days & Nights,Southampton,full_time,permanent,NaN,Healthcare & Nursing Jobs,15408,fish4.co.uk,20120923T000000,20121122T000000
24653,69193530,**** x Caretaker,Manchester,full_time,permanent,NaN,Hospitality & Catering Jobs,18012,fish4.co.uk,20121221T150000,20130120T150000
24686,69196406,APPOINTMENT OF INDEPENDENT MEMBERS TO CARDIFF ...,Cardiff,part_time,not available,NaN,Healthcare & Nursing Jobs,15936,fish4.co.uk,20121024T120000,20121107T120000
24723,69200075,Trainee Marketing Advisors,Edinburgh,full_time,permanent,NaN,Hospitality & Catering Jobs,18504,fish4.co.uk,20120821T000000,20121020T000000
24752,69203584,Dividends Analyst,Glasgow,not available,not available,NaN,Accounting & Finance Jobs,20160,fish4.co.uk,20130303T120000,20130317T120000
24753,69203586,Settlements Analyst,Glasgow,not available,not available,NaN,Accounting & Finance Jobs,23040,fish4.co.uk,20120605T150000,20120705T150000
24754,69203620,Client Admin Support,Dorking,full_time,permanent,NaN,Accounting & Finance Jobs,16752,fish4.co.uk,20130624T120000,20130724T120000
24825,69208639,Resourcing Coordinator (Full or Part Time),Salisbury,full_time,contract,NaN,Accounting & Finance Jobs,17004,fish4.co.uk,20120715T000000,20120913T000000
24921,69215963,Solar Sales Consultant Inverness,Inverness,full_time,permanent,NaN,Sales Jobs,50004,fish4.co.uk,20130303T150000,20130601T150000
24923,69216134,Skilled Specialist Chef,Aberdeen,full_time,permanent,NaN,Hospitality & Catering Jobs,18504,fish4.co.uk,20120801T120000,20120930T120000
24924,69216174,Project Manager (Supported Living),Derby,full_time,permanent,NaN,Healthcare & Nursing Jobs,23004,fish4.co.uk,20131126T150000,20140224T150000
25008,69220336,Trainer NVQ Level 3 BIT,Bridgend,full_time,permanent,NaN,Teaching Jobs,27504,fish4.co.uk,20130821T120000,20131020T120000
25009,69220384,Appointment Maker Temporary / Permanent,Bury,full_time,permanent,NaN,Sales Jobs,12000,fish4.co.uk,20120218T000000,20120518T000000
25012,69220596,Promotions Sales Manager Short Term,Reigate,full_time,permanent,NaN,Sales Jobs,15996,fish4.co.uk,20120812T150000,20121011T150000
25037,69227935,Community Support Worker/ Care Assistant/ Supp...,Chipping Norton,full_time,contract,NaN,Healthcare & Nursing Jobs,15360,fish4.co.uk,20130928T150000,20131227T150000
25038,69228189,"Canvasser, Field Marketing And Sales Promotor",Leeds,full_time,permanent,NaN,"PR, Advertising & Marketing Jobs",22800,fish4.co.uk,20130923T120000,20131122T120000
25039,69228213,"SCIENTIFIC (PHYSICS, OR CHEMISTRY, OR ELECTRON...",Warrington,full_time,permanent,NaN,Engineering Jobs,24996,fish4.co.uk,20130708T120000,20130608T120000
25040,69228214,MECHANICAL FITTER / TECHNICIAN,St. Helens,full_time,permanent,NaN,Engineering Jobs,24996,fish4.co.uk,20121023T000000,20130121T000000
25073,69247270,Tax Assistant Manager,Liverpool,not available,permanent,NaN,Accounting & Finance Jobs,32004,michaelpage.co.uk,20120711T120000,20121009T120000

It can be found in the above checking result, It is nearly impossible to fill the missing data for the company, the reason is that we cannot get any information from other columns for the Company's data. We can keep the missing data, refer as not filled or not available.

**Check Category**

In [90]:
dataset1.Category.value_counts()

IT Jobs                             7085
Healthcare & Nursing Jobs           4334
Engineering Jobs                    3458
Accounting & Finance Jobs           3099
Sales Jobs                          2609
Hospitality & Catering Jobs         2124
Teaching Jobs                       1378
PR, Advertising & Marketing Jobs     990
Name: Category, dtype: int64

From the above checking, it seems there are no obvious error for this column.

**Check Salary**

In [91]:
dataset1[dataset1['Salary per annum'].str.contains('\D')] # salary contain non-numeric characters

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
133,46626860,Registered Home Manager Job Bournemouth,Bournemouth,full_time,not available,NaN,Healthcare & Nursing Jobs,30K,careworx.co.uk,20130329T150000,20130528T150000
238,46627928,Care Home Manager Job North London ****K,London,full_time,not available,NaN,Healthcare & Nursing Jobs,38K,careworx.co.uk,20121107T150000,20130205T150000
305,46628805,Home Care Workers Berkhampsted,UK,part_time,not available,NaN,Healthcare & Nursing Jobs,14K,careworx.co.uk,20120905T150000,20121104T150000
596,46634306,Home Manager Mental Health 11 bed,Wales,not available,not available,NaN,Healthcare & Nursing Jobs,24K,careworx.co.uk,20120913T120000,20121112T120000
647,46634923,RGN Nurse Hull Days or Nights **** per hour,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,20896.2 - 23095.8,careworx.co.uk,20130605T150000,20130903T150000
830,46637596,Staff Nurse South Shields ****,South Shields,not available,not available,NaN,Healthcare & Nursing Jobs,23K,careworx.co.uk,20120429T150000,20120513T150000
896,48082563,Senior Chef de Partie One AA Rosette Hotel T...,Cumbria,not available,not available,Chef Results,Hospitality & Catering Jobs,16153.8 - 17854.2,caterer.com,20130109T150000,20130123T150000
952,49065458,Service Manager Learning Disabilities,Wales,not available,not available,NaN,Healthcare & Nursing Jobs,25K,careworx.co.uk,20130108T150000,20130122T150000
980,49689021,Assessment Officer,Kent,not available,not available,NaN,Healthcare & Nursing Jobs,23712.0 - 26208.0,careworx.co.uk,20120220T000000,20120321T000000
996,49845058,Chef de Partie Fresh Food Pub Good Reputatio...,Lancashire,not available,not available,Chef Results,Hospitality & Catering Jobs,16K,caterer.com,20120601T150000,20120701T150000
1062,51061201,Community Home Workers Melton Mowbray,Melton Mowbray,part_time,not available,NaN,Healthcare & Nursing Jobs,16416.0 - 18144.0,careworx.co.uk,20131023T120000,20131106T120000
1081,51285942,Senior Social Worker Fostering,Coventry,not available,not available,NaN,Healthcare & Nursing Jobs,33K,careworx.co.uk,20131230T120000,20140129T120000
1141,52489008,RGN Care Home,Northwich,not available,not available,NaN,Healthcare & Nursing Jobs,22321.2 - 24670.8,careworx.co.uk,20130928T000000,20131127T000000
1292,55400384,Live in Care Worker Jobs Exeter,Exeter,part_time,not available,NaN,Healthcare & Nursing Jobs,17578.8 - 19429.2,careworx.co.uk,20130504T150000,20130603T150000
1379,55408955,Senior Applications Developer,Warwickshire,full_time,permanent,JOBG8,IT Jobs,45K,planetrecruit.com,20121105T000000,20121205T000000
1410,55409587,MVNO Enterprise Architect,London,full_time,permanent,JOBG8,IT Jobs,85K,planetrecruit.com,20121223T150000,20130323T150000
1525,56209766,Nurse Advisor COPD,Watford,not available,not available,NaN,Healthcare & Nursing Jobs,30871.199999999997 - 34120.8,careworx.co.uk,20120814T120000,20120828T120000
1621,56814478,Chef de Partie **** AA Rosettes,East Sussex,not available,not available,Gold Leaf Recruitment,Hospitality & Catering Jobs,19K,jobs.catererandhotelkeeper.com,20120612T000000,20120811T000000
1797,58533485,Senior Embedded Controls Systems Engineer,Leicestershire,full_time,permanent,Executive Recruitment Services,IT Jobs,35146.2 - 38845.8,planetrecruit.com,20120418T000000,20120617T000000
1822,58759123,"Helpdesk / Desktop Support analystExcel, Word,...",London,full_time,permanent,Information Technology Services,IT Jobs,21853.8 - 24154.2,planetrecruit.com,20120813T000000,20121012T000000
2051,60684270,Door to door / Field Sales Canvassers,Tamworth,not available,permanent,Zenith Renewable Energy,Sales Jobs,17100.0 - 18900.0,cv-library.co.uk,20130729T000000,20131027T000000
2063,60685515,Staff Nurse Elderly Care Stockton on Tees,UK,not available,not available,NaN,Healthcare & Nursing Jobs,22K,careworx.co.uk,20130504T150000,20130518T150000
2118,61445890,Mental Health Advisor,Colchester,not available,not available,NaN,Healthcare & Nursing Jobs,24646.8 - 27241.2,careworx.co.uk,20120626T150000,20120825T150000
2602,64145428,DEPUTY MANAGER READING,Berkshire,full_time,permanent,CHERRY RED RECRUITMENT,Hospitality & Catering Jobs,20896.2 - 23095.8,strike-jobs.co.uk,20130604T150000,20130803T150000
2724,64573377,Deputy Care Manager / Care Manager,Barnsley,not available,not available,NaN,Healthcare & Nursing Jobs,17100.0 - 18900.0,careworx.co.uk,20120529T120000,20120728T120000
2889,64809245,Contract Mechanical Draughtsperson (Huddersfield),Huddersfield,not available,contract,Perpetual Engineering Partnerships Ltd,Engineering Jobs,36480.0 - 40320.0,totaljobs.com,20120215T000000,20120415T000000
2923,64813318,Manufacturing Engineer (Mechanical / Pumps / CNC),Crewe,not available,permanent,Rise Technical Recruitment Ltd,Engineering Jobs,33253.799999999996 - 36754.200000000004,totaljobs.com,20120504T120000,20120603T120000
3057,65171402,Complaints Manager,South East England,not available,contract,NaN,IT Jobs,49020.0 - 54180.0,theitjobboard.co.uk,20120628T120000,20120728T120000
3186,65188754,Technical Sales Engineer (ElectroMechanical),Sheffield,not available,permanent,Rise Technical Recruitment Ltd,Engineering Jobs,27553.8 - 30454.2,totaljobs.com,20130123T120000,20130423T120000
3274,65317743,Assistant General Manager New Opening Aberde...,Aberdeen,not available,not available,The Recruitment Room,Hospitality & Catering Jobs,26K,caterer.com,20131104T150000,20131204T150000
...,...,...,...,...,...,...,...,...,...,...,...
21666,69012121,Adult Speech Language Therapist,Kent,not available,contract,MedicsPro,Healthcare & Nursing Jobs,54K,cv-library.co.uk,20120703T000000,20120901T000000
21734,69017589,"BI Manager, SQL Server Financial ServicesHertf...",Hertfordshire,not available,permanent,Parallel Consulting Limited,IT Jobs,57000.0 - 63000.0,cv-library.co.uk,20130521T120000,20130720T120000
21744,69018023,PHP WEB DEVELOPER / PHP PROGRAMMER / SOFTWARE ...,UK,not available,permanent,hiredonline,IT Jobs,25K,cv-library.co.uk,20121009T000000,20130107T000000
21951,69022222,Software Test Engineer **** East Anglia Embedded,Eastern England,not available,permanent,Kendall Poole Consulting Limited,IT Jobs,35K,cv-library.co.uk,20120405T150000,20120604T150000
22029,69022816,PR and Events Manager (Maternity Contract),UK,not available,contract,Pursuit Recruitment,"PR, Advertising & Marketing Jobs",35K,cv-library.co.uk,20131213T000000,20140211T000000
22283,69036978,Application Support Analyst (legal sector) Lo...,London,not available,permanent,Ashdown IT,IT Jobs,33253.799999999996 - 36754.200000000004,cwjobs.co.uk,20121122T120000,20121222T120000
22418,69039080,Oracle & SQL DBA Investment Bank London,London,not available,permanent,Hays Finance Technology,IT Jobs,52246.2 - 57745.8,cwjobs.co.uk,20121018T150000,20121117T150000
22420,69039153,"Business Analyst (Debt Finance, Corporate Bank...",South East London,not available,permanent,ANSON MCCADE,IT Jobs,55K,cwjobs.co.uk,20120628T150000,20120926T150000
22465,69039760,Project Manager (Software development) near Ma...,UK,not available,permanent,Newton Blue,IT Jobs,47K,cwjobs.co.uk,20120510T120000,20120609T120000
22493,69039997,Graduate Software Developer – online gaming,London,not available,permanent,ENTERPRISE RECRUITMENT LTD,IT Jobs,30K,cwjobs.co.uk,20121209T150000,20130108T150000
23111,69080469,Catering Engineer,The City,not available,permanent,Rise Technical Recruitment,Engineering Jobs,28500.0 - 31500.0,cv-library.co.uk,20120225T000000,20120525T000000
23152,69080768,Drilling Equipment Service Technician,Aberdeen,not available,permanent,Connections Recruitment Ltd,Engineering Jobs,42750.0 - 47250.0,cv-library.co.uk,20130428T120000,20130727T120000
23207,69081257,Principal/Senior ITS Consultant,Taunton,not available,permanent,RGB Recruitment Ltd,Engineering Jobs,39421.2 - 43570.8,cv-library.co.uk,20120507T120000,20120606T120000
23365,69083476,Auto CAD Designer,Milton Keynes,not available,contract,Barker Ross,Engineering Jobs,31920.0 - 35280.0,cv-library.co.uk,20130627T120000,20130727T120000
23478,69091714,Web Support Analyst,Belfast,not available,contract,VanRath IT,IT Jobs,35K,nijobs.com,20131024T150000,20131223T150000
23557,69118140,Sales Manager Drain Cleaning & Inspection Equi...,Southend-On-Sea,full_time,permanent,London4Jobs,Sales Jobs,30871.199999999997 - 34120.8,london4jobs.co.uk,20120911T150000,20121210T150000
23619,69122549,Credit Assistant,London,not available,not available,Venn Group Limited,Accounting & Finance Jobs,31920.0 - 35280.0,cityjobs.com,20120818T120000,20120917T120000
23815,69162548,Quality/ CMM Inspector,UK,full_time,permanent,CVbrowser,Engineering Jobs,26128.8 - 28879.2,cvbrowser.com,20120216T000000,20120416T000000
23984,69169854,Marketing Manager Food industry,Tunbridge Wells,not available,permanent,Sirius Executive Search,"PR, Advertising & Marketing Jobs",45K,totaljobs.com,20130706T000000,20130805T000000
24008,69170235,Secretarial/PA Team Leader,Edinburgh Technopole,not available,contract,Carlisle Managed Solutions,Accounting & Finance Jobs,26596.199999999997 - 29395.800000000003,totaljobs.com,20120720T000000,20120918T000000
24027,69170445,Graduate Trainee Financial Risk Trader ****k ...,South East London,not available,permanent,The Graduate Recruitment Company,Accounting & Finance Jobs,26K,totaljobs.com,20130108T150000,20130207T150000
24113,69171949,DEMI CHEF DE PARTIE **** excellent tips,Tonbridge,not available,permanent,Ashdown Appointments Ltd,Hospitality & Catering Jobs,15196.199999999999 - 16795.8,totaljobs.com,20120106T000000,20120306T000000
24170,69172786,Qualified Social Workers for ALL of London,South East London,not available,contract,Tempest Resourcing,Healthcare & Nursing Jobs,48K,totaljobs.com,20130911T120000,20131011T120000
24319,69182099,Bars Manager,Oxfordshire,not available,not available,Appetite 4 Recruitment,Hospitality & Catering Jobs,22321.2 - 24670.8,jobs.catererandhotelkeeper.com,20130109T150000,20130123T150000
24352,69182395,General Manager Leisure Complex SE London Area...,London,not available,not available,"Berkeley Scott Pubs, Bars Restaurants",Hospitality & Catering Jobs,33253.799999999996 - 36754.200000000004,jobs.catererandhotelkeeper.com,20130618T000000,20130718T000000
24364,69182561,MB/AR/****,London,not available,not available,Aston Recruitment,Hospitality & Catering Jobs,20K,jobs.catererandhotelkeeper.com,20120606T000000,20120620T000000
24427,69183201,Chef de Partie/CDP/CDP District Line,London,not available,not available,Cherryred Recruitment,Hospitality & Catering Jobs,20K,jobs.catererandhotelkeeper.com,20120619T120000,20120719T120000
24462,69183392,Designate Head Chef,London,not available,not available,Loch Fyne Restaurants,Hospitality & Catering Jobs,28K,jobs.catererandhotelkeeper.com,20120315T000000,20120414T000000
24736,69201730,Responsible Engineer (C I),Wolverhampton,full_time,permanent,Forces Recruitment Services Ltd,IT Jobs,40K,fish4.co.uk,20121110T120000,20130109T120000
24917,69215440,Java/JavaScript Developer,UK,full_time,permanent,Hays North West,IT Jobs,17K,fish4.co.uk,20130527T000000,20130626T000000

In [92]:
len(dataset1[dataset1['Salary per annum'].str.contains('\D')])

200

From the above checking, we can find that there are some data not numeric type, refer to the specification: 
> ** `Salary per annum` is annual salary of the advertised job position, e.g., 80000 **
- - - 
We should clean the data to make data structure normalized. For instance: `30K` to `30000`,`30871.199999999997 - 34120.8` to `30871.2 - 34120.8`. The reason for this change is: salary should be numeric type in this data, we also should keep the salary range formmat cause it is reasonable in real life, the long float format is unnecessary for salary.

**Check SourceName**
- - -
> The website where the job position is advertised.

In [93]:
'''
check source Name
'''
for record in dataset1.SourceName.unique().tolist():
    if re.search('.*.co',record) is None \
    and re.search('.*.net',record) is None\
    and re.search('.*.org',record) is None:
        print(record)

monashstudent
jobcareer

In [94]:
'''
check source Name
'''
for record in dataset1.SourceName.unique().tolist():
    if re.search('@',record) is not None:
        print(record)

admin@caterer.com

In [95]:
dataset1[dataset1.SourceName == 'admin@caterer.com']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
15379,68672352,Digital Account Manager **** plus a Great Bonus,South East London,not available,permanent,Blu Digital,Sales Jobs,27504,admin@caterer.com,20120516T000000,20120715T000000

In [96]:
dataset1[dataset1.SourceName == 'jobcareer']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
12871,68393935,Killer Javascript role Exclusive to Brightwater,Belfast,full_time,permanent,Brightwater Group,IT Jobs,39996,jobcareer,20120205T150000,20120306T150000

In [97]:
dataset1[dataset1.SourceName == 'monashstudent']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
5663,66932999,Registered Midwives RM Lincolnshire Lincoln,Lincoln,part_time,not available,The A24 Group,Healthcare & Nursing Jobs,40140,monashstudent,20130124T150000,20130223T150000

How should we define a valid website, we can use some packages try to open the url indeed, however, this data comes from about 5 years ago, there may be some websites cannot be opened but existed. We can try to use regular expression to match the websites that may be a valid address. For example, a website should contain key words like `.com`, `.net`, `.org` etc. There are actually two records not valid website.

There is another wired record, which use admin@caterer.com, which seem to be a e-mail address,it may be replaced by the website itself instead.

**Check Date**
- - -
Refer to the specification:
> The opening time for applying for the advertised job position, e.g., 20120104T150000, means 3pm, 4th January 2012.
- - -
> The closing time for applying for the advertised job position, e.g., 20120104T150000, means 3pm, 4th January 2012.

We can try to prase the date with the format, if we have some error, we can find out using `try except block`

In [98]:
'''
check Open Date
'''
for date in dataset1.OpenDate:
    try:
        datetime.datetime.strptime(date,"%Y%m%dT%H%M%S")  #try to prase date
    except:
        print(date) #when exception occur, print wrong date

20131803T120000
20132606T000000
20122003T150000
20121512T150000
20133004T150000
20131908T000000
20121406T120000
20131509T000000
20132901T150000
20132108T120000

In [99]:
'''
check Close Date
'''
for date in dataset1.CloseDate:
    try:
        datetime.datetime.strptime(date,"%Y%m%dT%H%M%S")
    except:
        print(date)

It can be found that there are some error data in the Open Data column. Choosing one of the record as a sample:

`20131803T120000` the month in this record is `18`, which is impossible in real life. There is a high chance that the error data appear because of the wrong order of the month and day. `20131803T120000` should be `20130318T120000`

Another potential error for date according to the meaning is that close date should always later than opendate. It can be checked in the cleaning step.

### 3.2. Try to clean data column by column

**Cleaning Location Column**
- - -
Change the typos which we found above.

In [100]:
replacedict = {'Leads' : 'Leeds','Reeding' : 'Reading','Surey' : 'Surrey','Oxfords' : 'Oxford','Nottinham' : 'Nottingham'}
dataset1['Location'].replace(replacedict,inplace = True) #replace location names

In [101]:
print(dataset1[dataset1.Location == 'Leads'])
print(dataset1[dataset1.Location == 'Reeding'])
print(dataset1[dataset1.Location == 'Surey'])
print(dataset1[dataset1.Location == 'Oxfords'])
print(dataset1[dataset1.Location == 'Nottinham'])  #check results

Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate]
Index: []
Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate]
Index: []
Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate]
Index: []
Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate]
Index: []
Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate]
Index: []

**Cleaning Contract Columns**

In [102]:
# not available == non_specified
dataset1['ContractType'].replace({'not available':'non_specified'},inplace = True)
dataset1['ContractTime'].replace({'not available':'non_specified'},inplace = True)

**Cleaning Salary Column**
 - - -
 We can replace `K` with `000`
 
 Using a function to unify the float numbers

In [103]:
dataset1[dataset1['Salary per annum'].str.contains('\D')]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
133,46626860,Registered Home Manager Job Bournemouth,Bournemouth,full_time,non_specified,NaN,Healthcare & Nursing Jobs,30K,careworx.co.uk,20130329T150000,20130528T150000
238,46627928,Care Home Manager Job North London ****K,London,full_time,non_specified,NaN,Healthcare & Nursing Jobs,38K,careworx.co.uk,20121107T150000,20130205T150000
305,46628805,Home Care Workers Berkhampsted,UK,part_time,non_specified,NaN,Healthcare & Nursing Jobs,14K,careworx.co.uk,20120905T150000,20121104T150000
596,46634306,Home Manager Mental Health 11 bed,Wales,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,24K,careworx.co.uk,20120913T120000,20121112T120000
647,46634923,RGN Nurse Hull Days or Nights **** per hour,UK,full_time,non_specified,NaN,Healthcare & Nursing Jobs,20896.2 - 23095.8,careworx.co.uk,20130605T150000,20130903T150000
830,46637596,Staff Nurse South Shields ****,South Shields,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,23K,careworx.co.uk,20120429T150000,20120513T150000
896,48082563,Senior Chef de Partie One AA Rosette Hotel T...,Cumbria,non_specified,non_specified,Chef Results,Hospitality & Catering Jobs,16153.8 - 17854.2,caterer.com,20130109T150000,20130123T150000
952,49065458,Service Manager Learning Disabilities,Wales,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,25K,careworx.co.uk,20130108T150000,20130122T150000
980,49689021,Assessment Officer,Kent,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,23712.0 - 26208.0,careworx.co.uk,20120220T000000,20120321T000000
996,49845058,Chef de Partie Fresh Food Pub Good Reputatio...,Lancashire,non_specified,non_specified,Chef Results,Hospitality & Catering Jobs,16K,caterer.com,20120601T150000,20120701T150000
1062,51061201,Community Home Workers Melton Mowbray,Melton Mowbray,part_time,non_specified,NaN,Healthcare & Nursing Jobs,16416.0 - 18144.0,careworx.co.uk,20131023T120000,20131106T120000
1081,51285942,Senior Social Worker Fostering,Coventry,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,33K,careworx.co.uk,20131230T120000,20140129T120000
1141,52489008,RGN Care Home,Northwich,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,22321.2 - 24670.8,careworx.co.uk,20130928T000000,20131127T000000
1292,55400384,Live in Care Worker Jobs Exeter,Exeter,part_time,non_specified,NaN,Healthcare & Nursing Jobs,17578.8 - 19429.2,careworx.co.uk,20130504T150000,20130603T150000
1379,55408955,Senior Applications Developer,Warwickshire,full_time,permanent,JOBG8,IT Jobs,45K,planetrecruit.com,20121105T000000,20121205T000000
1410,55409587,MVNO Enterprise Architect,London,full_time,permanent,JOBG8,IT Jobs,85K,planetrecruit.com,20121223T150000,20130323T150000
1525,56209766,Nurse Advisor COPD,Watford,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,30871.199999999997 - 34120.8,careworx.co.uk,20120814T120000,20120828T120000
1621,56814478,Chef de Partie **** AA Rosettes,East Sussex,non_specified,non_specified,Gold Leaf Recruitment,Hospitality & Catering Jobs,19K,jobs.catererandhotelkeeper.com,20120612T000000,20120811T000000
1797,58533485,Senior Embedded Controls Systems Engineer,Leicestershire,full_time,permanent,Executive Recruitment Services,IT Jobs,35146.2 - 38845.8,planetrecruit.com,20120418T000000,20120617T000000
1822,58759123,"Helpdesk / Desktop Support analystExcel, Word,...",London,full_time,permanent,Information Technology Services,IT Jobs,21853.8 - 24154.2,planetrecruit.com,20120813T000000,20121012T000000
2051,60684270,Door to door / Field Sales Canvassers,Tamworth,non_specified,permanent,Zenith Renewable Energy,Sales Jobs,17100.0 - 18900.0,cv-library.co.uk,20130729T000000,20131027T000000
2063,60685515,Staff Nurse Elderly Care Stockton on Tees,UK,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,22K,careworx.co.uk,20130504T150000,20130518T150000
2118,61445890,Mental Health Advisor,Colchester,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,24646.8 - 27241.2,careworx.co.uk,20120626T150000,20120825T150000
2602,64145428,DEPUTY MANAGER READING,Berkshire,full_time,permanent,CHERRY RED RECRUITMENT,Hospitality & Catering Jobs,20896.2 - 23095.8,strike-jobs.co.uk,20130604T150000,20130803T150000
2724,64573377,Deputy Care Manager / Care Manager,Barnsley,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,17100.0 - 18900.0,careworx.co.uk,20120529T120000,20120728T120000
2889,64809245,Contract Mechanical Draughtsperson (Huddersfield),Huddersfield,non_specified,contract,Perpetual Engineering Partnerships Ltd,Engineering Jobs,36480.0 - 40320.0,totaljobs.com,20120215T000000,20120415T000000
2923,64813318,Manufacturing Engineer (Mechanical / Pumps / CNC),Crewe,non_specified,permanent,Rise Technical Recruitment Ltd,Engineering Jobs,33253.799999999996 - 36754.200000000004,totaljobs.com,20120504T120000,20120603T120000
3057,65171402,Complaints Manager,South East England,non_specified,contract,NaN,IT Jobs,49020.0 - 54180.0,theitjobboard.co.uk,20120628T120000,20120728T120000
3186,65188754,Technical Sales Engineer (ElectroMechanical),Sheffield,non_specified,permanent,Rise Technical Recruitment Ltd,Engineering Jobs,27553.8 - 30454.2,totaljobs.com,20130123T120000,20130423T120000
3274,65317743,Assistant General Manager New Opening Aberde...,Aberdeen,non_specified,non_specified,The Recruitment Room,Hospitality & Catering Jobs,26K,caterer.com,20131104T150000,20131204T150000
...,...,...,...,...,...,...,...,...,...,...,...
21666,69012121,Adult Speech Language Therapist,Kent,non_specified,contract,MedicsPro,Healthcare & Nursing Jobs,54K,cv-library.co.uk,20120703T000000,20120901T000000
21734,69017589,"BI Manager, SQL Server Financial ServicesHertf...",Hertfordshire,non_specified,permanent,Parallel Consulting Limited,IT Jobs,57000.0 - 63000.0,cv-library.co.uk,20130521T120000,20130720T120000
21744,69018023,PHP WEB DEVELOPER / PHP PROGRAMMER / SOFTWARE ...,UK,non_specified,permanent,hiredonline,IT Jobs,25K,cv-library.co.uk,20121009T000000,20130107T000000
21951,69022222,Software Test Engineer **** East Anglia Embedded,Eastern England,non_specified,permanent,Kendall Poole Consulting Limited,IT Jobs,35K,cv-library.co.uk,20120405T150000,20120604T150000
22029,69022816,PR and Events Manager (Maternity Contract),UK,non_specified,contract,Pursuit Recruitment,"PR, Advertising & Marketing Jobs",35K,cv-library.co.uk,20131213T000000,20140211T000000
22283,69036978,Application Support Analyst (legal sector) Lo...,London,non_specified,permanent,Ashdown IT,IT Jobs,33253.799999999996 - 36754.200000000004,cwjobs.co.uk,20121122T120000,20121222T120000
22418,69039080,Oracle & SQL DBA Investment Bank London,London,non_specified,permanent,Hays Finance Technology,IT Jobs,52246.2 - 57745.8,cwjobs.co.uk,20121018T150000,20121117T150000
22420,69039153,"Business Analyst (Debt Finance, Corporate Bank...",South East London,non_specified,permanent,ANSON MCCADE,IT Jobs,55K,cwjobs.co.uk,20120628T150000,20120926T150000
22465,69039760,Project Manager (Software development) near Ma...,UK,non_specified,permanent,Newton Blue,IT Jobs,47K,cwjobs.co.uk,20120510T120000,20120609T120000
22493,69039997,Graduate Software Developer – online gaming,London,non_specified,permanent,ENTERPRISE RECRUITMENT LTD,IT Jobs,30K,cwjobs.co.uk,20121209T150000,20130108T150000
23111,69080469,Catering Engineer,The City,non_specified,permanent,Rise Technical Recruitment,Engineering Jobs,28500.0 - 31500.0,cv-library.co.uk,20120225T000000,20120525T000000
23152,69080768,Drilling Equipment Service Technician,Aberdeen,non_specified,permanent,Connections Recruitment Ltd,Engineering Jobs,42750.0 - 47250.0,cv-library.co.uk,20130428T120000,20130727T120000
23207,69081257,Principal/Senior ITS Consultant,Taunton,non_specified,permanent,RGB Recruitment Ltd,Engineering Jobs,39421.2 - 43570.8,cv-library.co.uk,20120507T120000,20120606T120000
23365,69083476,Auto CAD Designer,Milton Keynes,non_specified,contract,Barker Ross,Engineering Jobs,31920.0 - 35280.0,cv-library.co.uk,20130627T120000,20130727T120000
23478,69091714,Web Support Analyst,Belfast,non_specified,contract,VanRath IT,IT Jobs,35K,nijobs.com,20131024T150000,20131223T150000
23557,69118140,Sales Manager Drain Cleaning & Inspection Equi...,Southend-On-Sea,full_time,permanent,London4Jobs,Sales Jobs,30871.199999999997 - 34120.8,london4jobs.co.uk,20120911T150000,20121210T150000
23619,69122549,Credit Assistant,London,non_specified,non_specified,Venn Group Limited,Accounting & Finance Jobs,31920.0 - 35280.0,cityjobs.com,20120818T120000,20120917T120000
23815,69162548,Quality/ CMM Inspector,UK,full_time,permanent,CVbrowser,Engineering Jobs,26128.8 - 28879.2,cvbrowser.com,20120216T000000,20120416T000000
23984,69169854,Marketing Manager Food industry,Tunbridge Wells,non_specified,permanent,Sirius Executive Search,"PR, Advertising & Marketing Jobs",45K,totaljobs.com,20130706T000000,20130805T000000
24008,69170235,Secretarial/PA Team Leader,Edinburgh Technopole,non_specified,contract,Carlisle Managed Solutions,Accounting & Finance Jobs,26596.199999999997 - 29395.800000000003,totaljobs.com,20120720T000000,20120918T000000
24027,69170445,Graduate Trainee Financial Risk Trader ****k ...,South East London,non_specified,permanent,The Graduate Recruitment Company,Accounting & Finance Jobs,26K,totaljobs.com,20130108T150000,20130207T150000
24113,69171949,DEMI CHEF DE PARTIE **** excellent tips,Tonbridge,non_specified,permanent,Ashdown Appointments Ltd,Hospitality & Catering Jobs,15196.199999999999 - 16795.8,totaljobs.com,20120106T000000,20120306T000000
24170,69172786,Qualified Social Workers for ALL of London,South East London,non_specified,contract,Tempest Resourcing,Healthcare & Nursing Jobs,48K,totaljobs.com,20130911T120000,20131011T120000
24319,69182099,Bars Manager,Oxfordshire,non_specified,non_specified,Appetite 4 Recruitment,Hospitality & Catering Jobs,22321.2 - 24670.8,jobs.catererandhotelkeeper.com,20130109T150000,20130123T150000
24352,69182395,General Manager Leisure Complex SE London Area...,London,non_specified,non_specified,"Berkeley Scott Pubs, Bars Restaurants",Hospitality & Catering Jobs,33253.799999999996 - 36754.200000000004,jobs.catererandhotelkeeper.com,20130618T000000,20130718T000000
24364,69182561,MB/AR/****,London,non_specified,non_specified,Aston Recruitment,Hospitality & Catering Jobs,20K,jobs.catererandhotelkeeper.com,20120606T000000,20120620T000000
24427,69183201,Chef de Partie/CDP/CDP District Line,London,non_specified,non_specified,Cherryred Recruitment,Hospitality & Catering Jobs,20K,jobs.catererandhotelkeeper.com,20120619T120000,20120719T120000
24462,69183392,Designate Head Chef,London,non_specified,non_specified,Loch Fyne Restaurants,Hospitality & Catering Jobs,28K,jobs.catererandhotelkeeper.com,20120315T000000,20120414T000000
24736,69201730,Responsible Engineer (C I),Wolverhampton,full_time,permanent,Forces Recruitment Services Ltd,IT Jobs,40K,fish4.co.uk,20121110T120000,20130109T120000
24917,69215440,Java/JavaScript Developer,UK,full_time,permanent,Hays North West,IT Jobs,17K,fish4.co.uk,20130527T000000,20130626T000000

In [104]:
dataset1['Salary per annum'].replace('K','000',regex = True,inplace = True)

In [105]:
def unifyFloat(num):
    nums = num.split('-')
    first = round(float(nums[0]), 2)
    second = round(float(nums[1]), 2)
    return str(first) + ' - ' + str(second)  #unify float numbers

In [106]:
dataset1.loc[dataset1['Salary per annum'].str.contains('\D'),'Salary per annum'] = \
dataset1[dataset1['Salary per annum'].str.contains('\D')]['Salary per annum'].apply(lambda x: unifyFloat(x))

**Check the results**

In [107]:
dataset1[dataset1['Salary per annum'].str.contains('\D')]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
647,46634923,RGN Nurse Hull Days or Nights **** per hour,UK,full_time,non_specified,NaN,Healthcare & Nursing Jobs,20896.2 - 23095.8,careworx.co.uk,20130605T150000,20130903T150000
896,48082563,Senior Chef de Partie One AA Rosette Hotel T...,Cumbria,non_specified,non_specified,Chef Results,Hospitality & Catering Jobs,16153.8 - 17854.2,caterer.com,20130109T150000,20130123T150000
980,49689021,Assessment Officer,Kent,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,23712.0 - 26208.0,careworx.co.uk,20120220T000000,20120321T000000
1062,51061201,Community Home Workers Melton Mowbray,Melton Mowbray,part_time,non_specified,NaN,Healthcare & Nursing Jobs,16416.0 - 18144.0,careworx.co.uk,20131023T120000,20131106T120000
1141,52489008,RGN Care Home,Northwich,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,22321.2 - 24670.8,careworx.co.uk,20130928T000000,20131127T000000
1292,55400384,Live in Care Worker Jobs Exeter,Exeter,part_time,non_specified,NaN,Healthcare & Nursing Jobs,17578.8 - 19429.2,careworx.co.uk,20130504T150000,20130603T150000
1525,56209766,Nurse Advisor COPD,Watford,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,30871.2 - 34120.8,careworx.co.uk,20120814T120000,20120828T120000
1797,58533485,Senior Embedded Controls Systems Engineer,Leicestershire,full_time,permanent,Executive Recruitment Services,IT Jobs,35146.2 - 38845.8,planetrecruit.com,20120418T000000,20120617T000000
1822,58759123,"Helpdesk / Desktop Support analystExcel, Word,...",London,full_time,permanent,Information Technology Services,IT Jobs,21853.8 - 24154.2,planetrecruit.com,20120813T000000,20121012T000000
2051,60684270,Door to door / Field Sales Canvassers,Tamworth,non_specified,permanent,Zenith Renewable Energy,Sales Jobs,17100.0 - 18900.0,cv-library.co.uk,20130729T000000,20131027T000000
2118,61445890,Mental Health Advisor,Colchester,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,24646.8 - 27241.2,careworx.co.uk,20120626T150000,20120825T150000
2602,64145428,DEPUTY MANAGER READING,Berkshire,full_time,permanent,CHERRY RED RECRUITMENT,Hospitality & Catering Jobs,20896.2 - 23095.8,strike-jobs.co.uk,20130604T150000,20130803T150000
2724,64573377,Deputy Care Manager / Care Manager,Barnsley,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,17100.0 - 18900.0,careworx.co.uk,20120529T120000,20120728T120000
2889,64809245,Contract Mechanical Draughtsperson (Huddersfield),Huddersfield,non_specified,contract,Perpetual Engineering Partnerships Ltd,Engineering Jobs,36480.0 - 40320.0,totaljobs.com,20120215T000000,20120415T000000
2923,64813318,Manufacturing Engineer (Mechanical / Pumps / CNC),Crewe,non_specified,permanent,Rise Technical Recruitment Ltd,Engineering Jobs,33253.8 - 36754.2,totaljobs.com,20120504T120000,20120603T120000
3057,65171402,Complaints Manager,South East England,non_specified,contract,NaN,IT Jobs,49020.0 - 54180.0,theitjobboard.co.uk,20120628T120000,20120728T120000
3186,65188754,Technical Sales Engineer (ElectroMechanical),Sheffield,non_specified,permanent,Rise Technical Recruitment Ltd,Engineering Jobs,27553.8 - 30454.2,totaljobs.com,20130123T120000,20130423T120000
3587,65879969,Contract Salesperson,Eastern England,non_specified,permanent,Lift and Escalator Jobs,Sales Jobs,23746.2 - 26245.8,cv-library.co.uk,20130928T150000,20131227T150000
3927,66197678,"Front End Web Developer – (HTML, CSS, Javascript)",Wellingborough,non_specified,permanent,Stafford Sharp Associates,IT Jobs,19003.8 - 21004.2,cwjobs.co.uk,20130601T150000,20130701T150000
3973,66367073,Financial Controller (Assets),Milton Keynes,full_time,permanent,Network Rail,Accounting & Finance Jobs,52246.2 - 57745.8,myjobs.cimaglobal.com,20130206T150000,20130507T150000
4705,66608673,"INFRASTRUCTURE SUPPORT – OPERATIONS – CLOUD, S...",Farnborough,non_specified,permanent,Peopleworks,IT Jobs,47503.8 - 52504.2,cwjobs.co.uk,20120708T150000,20120807T150000
5708,66935869,"Account Manager, Account Executive Energy",UK,non_specified,non_specified,Wallace Hind Selection,Sales Jobs,30403.8 - 33604.2,salestarget.co.uk,20130430T150000,20130514T150000
5988,67017625,Contracts Manager (Permanent),Stafford,non_specified,non_specified,Staffordshire County Council,Hospitality & Catering Jobs,29184.0 - 32256.0,caterer.com,20131102T150000,20131116T150000
6225,67153390,Electrical Field Service Engineer x**** (Cranes),UK,non_specified,permanent,TRS Consulting Ltd,Engineering Jobs,41325.0 - 45675.0,jobsite.co.uk,20121215T150000,20130315T150000
6270,67208324,Building Services Supervisor in Chelsea,London,non_specified,permanent,PRS,Engineering Jobs,28500.0 - 31500.0,cv-library.co.uk,20121124T150000,20130222T150000
6710,67333923,HVAC Design Engineer,UK,non_specified,permanent,First Personnel Services plc,Engineering Jobs,27553.8 - 30454.2,totaljobs.com,20121220T000000,20130218T000000
6977,67389276,"Lead Business Analyst, Banking",Central London,full_time,permanent,The People Network,IT Jobs,61753.8 - 68254.2,jobs.newstatesman.com,20120405T120000,20120704T120000
7141,67638912,IT Sales Executive / New Business Development ...,Cheshire,non_specified,permanent,Qualserv Consulting Ltd,Sales Jobs,40846.2 - 45145.8,cv-library.co.uk,20120725T150000,20121023T150000
7296,67652461,"MS SharePoint Senior Developer, R****k, Jo bur...",UK,non_specified,permanent,Nigel Frank International,IT Jobs,40378.8 - 44629.2,cv-library.co.uk,20121012T150000,20121211T150000
7347,67652829,IT Equipment Installations Assistant,Staffordshire,non_specified,contract,Qualserv Consulting Ltd,IT Jobs,14614.8 - 16153.2,cv-library.co.uk,20130228T120000,20130429T120000
...,...,...,...,...,...,...,...,...,...,...,...
17906,68702082,Electronic / Electrical Test Engineer (Lithium...,Oxfordshire,non_specified,permanent,Support Services Group,Engineering Jobs,28021.2 - 30970.8,totaljobs.com,20120305T120000,20120404T120000
17983,68703232,Commercial Team Leader,Bradford,non_specified,permanent,PETER DUFFY LTD,Engineering Jobs,23746.2 - 26245.8,totaljobs.com,20131002T120000,20131101T120000
18002,68703556,Service Desk / Desktop Support Analyst,London,non_specified,permanent,Robert Half Technology,IT Jobs,26128.8 - 28879.2,totaljobs.com,20130712T150000,20130811T150000
18174,68706043,Manager/ Unit Manager/ Store Manager/ Catering...,UK,non_specified,permanent,Randstad Retail,Hospitality & Catering Jobs,24703.8 - 27304.2,totaljobs.com,20120215T000000,20120415T000000
18905,68715405,TECHNICAL LEAD CASPNET MVC SCRUM TDD HOSPITALI...,South East London,non_specified,permanent,First Point IT,IT Jobs,57000.0 - 63000.0,totaljobs.com,20120824T000000,20121023T000000
18964,68716258,Project Manager Southampton ****K to ****K,UK,non_specified,permanent,Spectrum IT,IT Jobs,37996.2 - 41995.8,totaljobs.com,20131017T150000,20131116T150000
19270,68787221,IT Sales Executive Accrington ****k to ****k...,Accrington,non_specified,non_specified,Penguin Recruitment,Sales Jobs,15196.2 - 16795.8,salestarget.co.uk,20131210T120000,20131224T120000
19445,68804934,Mechanical Estimator Birmingham,Birmingham,non_specified,permanent,Randstad,Engineering Jobs,35625.0 - 39375.0,rengineeringjobs.com,20130615T000000,20130913T000000
19548,68805804,Relocate to the US? QA Software Engineers,London,non_specified,permanent,Enterprise Recruitment Limited,Engineering Jobs,52246.2 - 57745.8,jobsite.co.uk,20120201T000000,20120401T000000
20070,68834330,Field Service Connectivity Engineer,Abingdon,non_specified,permanent,NaN,IT Jobs,37996.2 - 41995.8,technojobs.co.uk,20130110T000000,20130311T000000
20175,68837150,Restaurant Manager ****AA Rosettes,Fife,non_specified,non_specified,Stafffinders,Hospitality & Catering Jobs,27553.8 - 30454.2,caterer.com,20120626T000000,20120726T000000
20854,68999922,INTERNAL SALES **** Year Maternity Cover,UK,non_specified,permanent,Hales Group,Sales Jobs,18525.0 - 20475.0,cv-library.co.uk,20131123T120000,20140221T120000
21064,69004198,Helpdesk Apprenticeships,UK,part_time,non_specified,Protocol National,Teaching Jobs,41040.0 - 45360.0,cv-library.co.uk,20120904T120000,20121103T120000
21242,69005600,Outsource Manager / Employer Engagement,Lincoln,non_specified,permanent,KM Education Recruitment Ltd,Teaching Jobs,30871.2 - 34120.8,cv-library.co.uk,20130409T000000,20130708T000000
21247,69005706,FRENCH AND SPANISH TEACHER QTS **** **** PER...,UK,non_specified,contract,TeacherActive,Teaching Jobs,30780.0 - 34020.0,cv-library.co.uk,20120229T120000,20120314T120000
21313,69006748,Part Time Year 6 Teacher,Mansfield,part_time,non_specified,Teachers UK,Teaching Jobs,30780.0 - 34020.0,cv-library.co.uk,20131217T000000,20140116T000000
21734,69017589,"BI Manager, SQL Server Financial ServicesHertf...",Hertfordshire,non_specified,permanent,Parallel Consulting Limited,IT Jobs,57000.0 - 63000.0,cv-library.co.uk,20130521T120000,20130720T120000
22283,69036978,Application Support Analyst (legal sector) Lo...,London,non_specified,permanent,Ashdown IT,IT Jobs,33253.8 - 36754.2,cwjobs.co.uk,20121122T120000,20121222T120000
22418,69039080,Oracle & SQL DBA Investment Bank London,London,non_specified,permanent,Hays Finance Technology,IT Jobs,52246.2 - 57745.8,cwjobs.co.uk,20121018T150000,20121117T150000
23111,69080469,Catering Engineer,The City,non_specified,permanent,Rise Technical Recruitment,Engineering Jobs,28500.0 - 31500.0,cv-library.co.uk,20120225T000000,20120525T000000
23152,69080768,Drilling Equipment Service Technician,Aberdeen,non_specified,permanent,Connections Recruitment Ltd,Engineering Jobs,42750.0 - 47250.0,cv-library.co.uk,20130428T120000,20130727T120000
23207,69081257,Principal/Senior ITS Consultant,Taunton,non_specified,permanent,RGB Recruitment Ltd,Engineering Jobs,39421.2 - 43570.8,cv-library.co.uk,20120507T120000,20120606T120000
23365,69083476,Auto CAD Designer,Milton Keynes,non_specified,contract,Barker Ross,Engineering Jobs,31920.0 - 35280.0,cv-library.co.uk,20130627T120000,20130727T120000
23557,69118140,Sales Manager Drain Cleaning & Inspection Equi...,Southend-On-Sea,full_time,permanent,London4Jobs,Sales Jobs,30871.2 - 34120.8,london4jobs.co.uk,20120911T150000,20121210T150000
23619,69122549,Credit Assistant,London,non_specified,non_specified,Venn Group Limited,Accounting & Finance Jobs,31920.0 - 35280.0,cityjobs.com,20120818T120000,20120917T120000
23815,69162548,Quality/ CMM Inspector,UK,full_time,permanent,CVbrowser,Engineering Jobs,26128.8 - 28879.2,cvbrowser.com,20120216T000000,20120416T000000
24008,69170235,Secretarial/PA Team Leader,Edinburgh Technopole,non_specified,contract,Carlisle Managed Solutions,Accounting & Finance Jobs,26596.2 - 29395.8,totaljobs.com,20120720T000000,20120918T000000
24113,69171949,DEMI CHEF DE PARTIE **** excellent tips,Tonbridge,non_specified,permanent,Ashdown Appointments Ltd,Hospitality & Catering Jobs,15196.2 - 16795.8,totaljobs.com,20120106T000000,20120306T000000
24319,69182099,Bars Manager,Oxfordshire,non_specified,non_specified,Appetite 4 Recruitment,Hospitality & Catering Jobs,22321.2 - 24670.8,jobs.catererandhotelkeeper.com,20130109T150000,20130123T150000
24352,69182395,General Manager Leisure Complex SE London Area...,London,non_specified,non_specified,"Berkeley Scott Pubs, Bars Restaurants",Hospitality & Catering Jobs,33253.8 - 36754.2,jobs.catererandhotelkeeper.com,20130618T000000,20130718T000000

**Cleaning the SourceName column**
- - - 
We can replace `monashstudent` with `monash.edu/students`

replace `jobcareer` with `jobcareer.com`

replace "admin@caterer.com" with `caterer.com`

In [108]:
replacesource = {'monashstudent' : 'monash.edu/students','jobcareer' : 'jobcareer.com','admin@caterer.com' : 'caterer.com'}
dataset1['SourceName'].replace(replacesource,inplace = True) #replace source name

**Cleaning the Date columns**
- - -
We can try to make another two columns use to store the paresed date, if we have error, we can use the variable `errors="coerce"` to keep the error as null value.

In [109]:
dataset1['OpenDate_parsed'] = pd.to_datetime(dataset1.OpenDate,format="%Y%m%dT%H%M%S",errors='coerce') #leave error date as Null value

In [110]:
dataset1[dataset1['OpenDate_parsed'].isnull()]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate,OpenDate_parsed
1102,51593546,Community Nurse South London,The City,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,29004,careworx.co.uk,20131803T120000,20130417T120000,NaT
2104,61282006,Deputy Home Care Manager,Barnet,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,20004,careworx.co.uk,20132606T000000,20130710T000000,NaT
2839,64796836,"Technical Tester Manual, Automation, Java, SQ...",London,non_specified,permanent,NaN,IT Jobs,19500,theitjobboard.co.uk,20122003T150000,20120519T150000,NaT
5707,66935867,"Technical Sales Manager, Pigments Fillers to S...",UK,non_specified,non_specified,Wallace Hind Selection,Sales Jobs,45000,salestarget.co.uk,20121512T150000,20130213T150000,NaT
10881,68257270,Desire a Change? London ****K Basic ****K OTE,South East London,non_specified,non_specified,Zest 2 Recruitment,Sales Jobs,13500,salestarget.co.uk,20133004T150000,20130530T150000,NaT
11948,68350622,Mechanical Design Engineer (HVAC),Gainsborough,non_specified,permanent,NaN,IT Jobs,39996,technojobs.co.uk,20131908T000000,20131117T000000,NaT
15353,68671948,Investment Analyst,Cheshire,non_specified,permanent,Idex Consulting,Accounting & Finance Jobs,24000,totaljobs.com,20121406T120000,20120912T120000,NaT
22918,69072305,Scheme Actuary,Hampshire,non_specified,permanent,Sammons Pensions,Accounting & Finance Jobs,54996,professionalpensionsjobs.com,20131509T000000,20131114T000000,NaT
23007,69079402,Naval architect/structural engineer,Newcastle Upon Tyne,non_specified,permanent,Workshop Recruitment,Engineering Jobs,33504,cv-library.co.uk,20132901T150000,20130429T150000,NaT
23169,69080910,MS (Elec biased) Maintenance Engineer / Superv...,Harrogate,non_specified,permanent,Jenrick Engineering,Engineering Jobs,17004,cv-library.co.uk,20132108T120000,20131119T120000,NaT

**Define a replace function and test if it will work**

In [111]:
def fixDate(date):
    pattern = re.findall('(\d{4})(\d{2})(\d{2})(T\d{2}\d{2}\d{2})',date)
    return pattern[0][0] + pattern[0][2] + pattern[0][1] + pattern[0][3]

In [112]:
fixDate('20131803T120000')

'20130318T120000'

Get the error data index list

In [113]:
indexList = dataset1[dataset1['OpenDate_parsed'].isnull()].index

Fix the errors

In [114]:
for i in indexList:
    dataset1.at[i,'OpenDate'] = fixDate(dataset1.loc[i]['OpenDate'])

In [115]:
dataset1['OpenDate_parsed'] = pd.to_datetime(dataset1.OpenDate,format="%Y%m%dT%H%M%S",errors='coerce') 
dataset1[dataset1['OpenDate_parsed'].isnull()]

Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate, OpenDate_parsed]
Index: []

Check the close date Format

In [116]:
dataset1['CloseDate_parsed'] = pd.to_datetime(dataset1.CloseDate,format="%Y%m%dT%H%M%S",errors='coerce')

In [117]:
dataset1[dataset1['CloseDate_parsed'].isnull()]

Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate, OpenDate_parsed, CloseDate_parsed]
Index: []

In [118]:
dataset1.head()

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate,OpenDate_parsed,CloseDate_parsed
0,12612628,Engineering Systems Analyst,Dorking,non_specified,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20121103T000000,20121203T000000,2012-11-03 00:00:00,2012-12-03 00:00:00
1,12612830,Stress Engineer Glasgow,Glasgow,non_specified,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130108T150000,20130408T150000,2013-01-08 15:00:00,2013-04-08 15:00:00
2,12612844,Modelling and simulation analyst,Hampshire,non_specified,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130726T150000,20130924T150000,2013-07-26 15:00:00,2013-09-24 15:00:00
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,non_specified,permanent,Gregory Martin International,Engineering Jobs,27504,cv-library.co.uk,20121214T000000,20130314T000000,2012-12-14 00:00:00,2013-03-14 00:00:00
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,non_specified,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20131025T000000,20131224T000000,2013-10-25 00:00:00,2013-12-24 00:00:00

Find the error which close date earlier than open date

In [119]:
dataset1[dataset1.OpenDate_parsed > dataset1.CloseDate_parsed] #unavailable date

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate,OpenDate_parsed,CloseDate_parsed
6659,67330693,Pensions Implementation Manager,Brighton,non_specified,permanent,NaN,Accounting & Finance Jobs,35004,hays.co.uk,20130703T000000,20130404T000000,2013-07-03 00:00:00,2013-04-04 00:00:00
9568,68091856,Manager Technical Operations,Shepton Mallet,non_specified,permanent,Index Recruitment,IT Jobs,62004,totaljobs.com,20120306T000000,20120205T000000,2012-03-06 00:00:00,2012-02-05 00:00:00
11043,68290941,Planning Enforcement officer,London,full_time,contract,Randstad,Engineering Jobs,39360,jobs.planningresource.co.uk,20131105T000000,20131006T000000,2013-11-05 00:00:00,2013-10-06 00:00:00
12473,68360715,Penetration Tester / Reverse Engineer,UK,non_specified,contract,Vertex Solutions,IT Jobs,76908,cwjobs.co.uk,20131222T150000,20131023T150000,2013-12-22 15:00:00,2013-10-23 15:00:00
19142,68729089,Registered Home Manager Loughborough,Loughborough,full_time,non_specified,Compass Associates Ltd,Healthcare & Nursing Jobs,42504,staffnurse.com,20120803T150000,20120505T150000,2012-08-03 15:00:00,2012-05-05 15:00:00
24206,69173205,"User Interface/UI Developer JavaScript, jQuer...",London,non_specified,permanent,Dawson & Walsh,IT Jobs,45000,totaljobs.com,20130622T150000,20130324T150000,2013-06-22 15:00:00,2013-03-24 15:00:00
24297,69181738,Registered General Nurse (RGN)/ Registered Men...,Poole,full_time,non_specified,Executive Care Group Ltd,Healthcare & Nursing Jobs,24960,staffnurse.com,20130116T000000,20121018T000000,2013-01-16 00:00:00,2012-10-18 00:00:00
25039,69228213,"SCIENTIFIC (PHYSICS, OR CHEMISTRY, OR ELECTRON...",Warrington,full_time,permanent,NaN,Engineering Jobs,24996,fish4.co.uk,20130708T120000,20130608T120000,2013-07-08 12:00:00,2013-06-08 12:00:00

To find out how to fix the error, we can create another column to store duration for each records.

In [120]:
dataset1['duration'] = (dataset1.CloseDate_parsed - dataset1.OpenDate_parsed)

In [121]:
dataset1.duration.describe()

count                      25077
mean     53 days 04:26:50.718985
std      25 days 19:15:46.166444
min           -90 days +00:00:00
25%             30 days 00:00:00
50%             60 days 00:00:00
75%             60 days 00:00:00
max             90 days 00:00:00
Name: duration, dtype: object

In [122]:
dataset1[dataset1.OpenDate_parsed > dataset1.CloseDate_parsed]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate,OpenDate_parsed,CloseDate_parsed,duration
6659,67330693,Pensions Implementation Manager,Brighton,non_specified,permanent,NaN,Accounting & Finance Jobs,35004,hays.co.uk,20130703T000000,20130404T000000,2013-07-03 00:00:00,2013-04-04 00:00:00,-90 days
9568,68091856,Manager Technical Operations,Shepton Mallet,non_specified,permanent,Index Recruitment,IT Jobs,62004,totaljobs.com,20120306T000000,20120205T000000,2012-03-06 00:00:00,2012-02-05 00:00:00,-30 days
11043,68290941,Planning Enforcement officer,London,full_time,contract,Randstad,Engineering Jobs,39360,jobs.planningresource.co.uk,20131105T000000,20131006T000000,2013-11-05 00:00:00,2013-10-06 00:00:00,-30 days
12473,68360715,Penetration Tester / Reverse Engineer,UK,non_specified,contract,Vertex Solutions,IT Jobs,76908,cwjobs.co.uk,20131222T150000,20131023T150000,2013-12-22 15:00:00,2013-10-23 15:00:00,-60 days
19142,68729089,Registered Home Manager Loughborough,Loughborough,full_time,non_specified,Compass Associates Ltd,Healthcare & Nursing Jobs,42504,staffnurse.com,20120803T150000,20120505T150000,2012-08-03 15:00:00,2012-05-05 15:00:00,-90 days
24206,69173205,"User Interface/UI Developer JavaScript, jQuer...",London,non_specified,permanent,Dawson & Walsh,IT Jobs,45000,totaljobs.com,20130622T150000,20130324T150000,2013-06-22 15:00:00,2013-03-24 15:00:00,-90 days
24297,69181738,Registered General Nurse (RGN)/ Registered Men...,Poole,full_time,non_specified,Executive Care Group Ltd,Healthcare & Nursing Jobs,24960,staffnurse.com,20130116T000000,20121018T000000,2013-01-16 00:00:00,2012-10-18 00:00:00,-90 days
25039,69228213,"SCIENTIFIC (PHYSICS, OR CHEMISTRY, OR ELECTRON...",Warrington,full_time,permanent,NaN,Engineering Jobs,24996,fish4.co.uk,20130708T120000,20130608T120000,2013-07-08 12:00:00,2013-06-08 12:00:00,-30 days

Consider the above statistics, we can find that the duration for the errors seem normal except they are negative. These errors may come from the exchange of open-date and close-date, we can define a method to swap these two date.

In [123]:
indexList1 = dataset1[dataset1.OpenDate_parsed > dataset1.CloseDate_parsed].index

In [124]:
for i in indexList1:
    openDate = dataset1.loc[i]['OpenDate']
    closeDate = dataset1.loc[i]['CloseDate']
    dataset1.loc[i,'OpenDate'] = closeDate
    dataset1.loc[i,'CloseDate'] = openDate

In [125]:
dataset1[dataset1.OpenDate_parsed > dataset1.CloseDate_parsed]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate,OpenDate_parsed,CloseDate_parsed,duration
6659,67330693,Pensions Implementation Manager,Brighton,non_specified,permanent,NaN,Accounting & Finance Jobs,35004,hays.co.uk,20130404T000000,20130703T000000,2013-07-03 00:00:00,2013-04-04 00:00:00,-90 days
9568,68091856,Manager Technical Operations,Shepton Mallet,non_specified,permanent,Index Recruitment,IT Jobs,62004,totaljobs.com,20120205T000000,20120306T000000,2012-03-06 00:00:00,2012-02-05 00:00:00,-30 days
11043,68290941,Planning Enforcement officer,London,full_time,contract,Randstad,Engineering Jobs,39360,jobs.planningresource.co.uk,20131006T000000,20131105T000000,2013-11-05 00:00:00,2013-10-06 00:00:00,-30 days
12473,68360715,Penetration Tester / Reverse Engineer,UK,non_specified,contract,Vertex Solutions,IT Jobs,76908,cwjobs.co.uk,20131023T150000,20131222T150000,2013-12-22 15:00:00,2013-10-23 15:00:00,-60 days
19142,68729089,Registered Home Manager Loughborough,Loughborough,full_time,non_specified,Compass Associates Ltd,Healthcare & Nursing Jobs,42504,staffnurse.com,20120505T150000,20120803T150000,2012-08-03 15:00:00,2012-05-05 15:00:00,-90 days
24206,69173205,"User Interface/UI Developer JavaScript, jQuer...",London,non_specified,permanent,Dawson & Walsh,IT Jobs,45000,totaljobs.com,20130324T150000,20130622T150000,2013-06-22 15:00:00,2013-03-24 15:00:00,-90 days
24297,69181738,Registered General Nurse (RGN)/ Registered Men...,Poole,full_time,non_specified,Executive Care Group Ltd,Healthcare & Nursing Jobs,24960,staffnurse.com,20121018T000000,20130116T000000,2013-01-16 00:00:00,2012-10-18 00:00:00,-90 days
25039,69228213,"SCIENTIFIC (PHYSICS, OR CHEMISTRY, OR ELECTRON...",Warrington,full_time,permanent,NaN,Engineering Jobs,24996,fish4.co.uk,20130608T120000,20130708T120000,2013-07-08 12:00:00,2013-06-08 12:00:00,-30 days

Now, we can drop the columns we create before.

In [126]:
dataset1.drop(columns=['OpenDate_parsed', 'CloseDate_parsed','duration'],inplace=True) # drop columns created

In [127]:
dataset1

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,non_specified,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20121103T000000,20121203T000000
1,12612830,Stress Engineer Glasgow,Glasgow,non_specified,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130108T150000,20130408T150000
2,12612844,Modelling and simulation analyst,Hampshire,non_specified,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130726T150000,20130924T150000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,non_specified,permanent,Gregory Martin International,Engineering Jobs,27504,cv-library.co.uk,20121214T000000,20130314T000000
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,non_specified,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20131025T000000,20131224T000000
5,19047429,Trainee Mortgage Advisor East Midlands,East Midlands,non_specified,permanent,Brite Recruitment,Accounting & Finance Jobs,21000,cv-library.co.uk,20120724T000000,20120922T000000
6,20199757,"PROJECT ENGINEER, PHARMACEUTICAL",Witney,non_specified,permanent,MatchBox Recruiting Ltd,Healthcare & Nursing Jobs,37500,cv-library.co.uk,20130328T120000,20130427T120000
7,20797143,Chef de Partie Award Winning Restaurant Exce...,Derby,non_specified,non_specified,Chef Results,Hospitality & Catering Jobs,15996,caterer.com,20131027T000000,20131226T000000
8,22579462,Quality Engineer,Gateshead,non_specified,permanent,Asset Appointments,Engineering Jobs,21996,cv-library.co.uk,20130815T000000,20130914T000000
9,22933091,Chef de Partie Award Winning Dining Live In ...,UK,non_specified,non_specified,Chef Results,Hospitality & Catering Jobs,18000,caterer.com,20120814T000000,20120828T000000
10,23528672,Senior Fatigue and Damage Tolerance Engineer,Avon,non_specified,permanent,Gregory Martin International,Engineering Jobs,39504,cv-library.co.uk,20131019T120000,20131118T120000
11,23529949,C I Design Engineer,Wolverhampton,non_specified,permanent,Rullion Engineering Ltd,Engineering Jobs,33504,cv-library.co.uk,20121211T120000,20130110T120000
12,23530231,Lead Engineers (Stress),UK,non_specified,permanent,Gregory Martin International,Engineering Jobs,39504,cv-library.co.uk,20121113T120000,20130211T120000
13,24104334,"Relief Chef de Partie Croydon, Surrey Live in",UK,non_specified,non_specified,Towngate Personnel,Hospitality & Catering Jobs,17280,caterer.com,20131029T000000,20131128T000000
14,24835524,Senior Control and Instrumentation Engineer,Berkshire,non_specified,permanent,Gregory Martin International,Engineering Jobs,41496,cv-library.co.uk,20121214T000000,20130113T000000
15,24835548,Control and Instrumentation Engineer,Berkshire,non_specified,permanent,Gregory Martin International,Engineering Jobs,31500,cv-library.co.uk,20120709T120000,20120808T120000
16,24854800,Electrical / ICA Engineer,Surrey,non_specified,permanent,Gregory Martin International,Engineering Jobs,32496,cv-library.co.uk,20130205T000000,20130307T000000
17,25337172,Pastry Chef for **** red star **** rosette hot...,North East England,non_specified,non_specified,Clear Selection,Hospitality & Catering Jobs,24000,caterer.com,20130610T000000,20130809T000000
18,25452606,CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL ...,North Yorkshire,non_specified,non_specified,Clear Selection,Hospitality & Catering Jobs,15996,caterer.com,20130825T000000,20130924T000000
19,25452680,"Senior Sous Chef for **** rosette kitchen, up ...",North East England,non_specified,non_specified,Clear Selection,Hospitality & Catering Jobs,26004,caterer.com,20120101T120000,20120115T120000
20,25556432,"General Manager Funky, Cool Restaurant Concep...",East Sheen,non_specified,non_specified,Bee Recruitment London Ltd,Hospitality & Catering Jobs,31500,caterer.com,20130926T120000,20131026T120000
21,25892031,MICE Sales and Marketing Manager,Buckinghamshire,non_specified,non_specified,Chess Partnership,Hospitality & Catering Jobs,30000,caterer.com,20120825T120000,20121024T120000
22,27527047,C/C++ Developer,London,non_specified,permanent,Indigo 21 Ltd,IT Jobs,32496,cv-library.co.uk,20120519T150000,20120618T150000
23,27527050,Senior PHP Developer,Central London,non_specified,permanent,Indigo 21 Ltd,IT Jobs,45000,cv-library.co.uk,20120623T150000,20120822T150000
24,27527063,Senior Website Designer,York,non_specified,permanent,Indigo 21 Ltd,IT Jobs,24996,cv-library.co.uk,20130810T000000,20130909T000000
25,27527077,Business Development Manager,Newcastle Upon Tyne,non_specified,permanent,Asset Appointments,IT Jobs,21000,cv-library.co.uk,20120228T150000,20120428T150000
26,27739522,Welwyn Chef de Partie does it get any better t...,UK,non_specified,non_specified,Clear Selection,Hospitality & Catering Jobs,18000,caterer.com,20130106T120000,20130307T120000
27,27740574,Pastry Chef AL**** ****AA Rosette Restaurant,UK,non_specified,non_specified,Clear Selection,Hospitality & Catering Jobs,18996,caterer.com,20120320T120000,20120403T120000
28,27754996,QA Engineer,Cambridge,non_specified,permanent,Indigo 21 Ltd,IT Jobs,30000,cv-library.co.uk,20130531T150000,20130730T150000
29,28059808,Documentation Engineer,Manchester,non_specified,contract,Rullion Engineering Ltd,Engineering Jobs,48000,cv-library.co.uk,20130818T120000,20130917T120000
...,...,...,...,...,...,...,...,...,...,...,...
25047,69228656,Validation Engineer: IOT,Bristol,full_time,permanent,European Recruitment,IT Jobs,52500,fish4.co.uk,20120109T150000,20120309T150000
25048,69228674,RF Design and Customer Support,UK,full_time,permanent,European Recruitment,IT Jobs,82560,fish4.co.uk,20120605T000000,20120804T000000
25049,69228685,Technical Sales Engineer Deburring tools,UK,full_time,permanent,ETS Technical Selection,IT Jobs,32496,fish4.co.uk,20131128T150000,20140127T150000
25050,69228842,Senior Internal Audior,UK,full_time,permanent,Hydrogen UK Limited,Accounting & Finance Jobs,47496,fish4.co.uk,20130706T120000,20130904T120000
25051,69228969,"Business Development, P/T F/T, Flexible hours,...",UK,full_time,permanent,Orion Business Management,Healthcare & Nursing Jobs,37500,fish4.co.uk,20120617T150000,20120717T150000
25052,69229164,Account Manager (No Sales),Birmingham,full_time,permanent,The Selection Partnership Ltd,"PR, Advertising & Marketing Jobs",18000,fish4.co.uk,20120306T120000,20120405T120000
25053,69229283,Design and Applications Engineer,UK,full_time,permanent,Interaction Recruitment plc,Engineering Jobs,39996,fish4.co.uk,20121010T000000,20130108T000000
25054,69229354,Part Time/Full Time Business Development Work ...,Newcastle Upon Tyne,full_time,permanent,Orion Business Management,Healthcare & Nursing Jobs,27504,fish4.co.uk,20130604T150000,20130902T150000
25055,69229412,Financial Controller temporary to permanent,Wirral,full_time,permanent,Gleeson Accountancy Recruitment Ltd,Accounting & Finance Jobs,54996,fish4.co.uk,20121113T150000,20121213T150000
25056,69229439,ICT Trainer (Vocational Training / IT Assessor...,Wetherby,part_time,permanent,Blue Octopus Recruitment Ltd,IT Jobs,25704,fish4.co.uk,20130623T120000,20130921T120000
25057,69229454,Education and Training Manager,UK,full_time,permanent,ATOM Education Limited,Teaching Jobs,45996,fish4.co.uk,20120806T150000,20120905T150000
25058,69229665,Storage Engineer,Birmingham,full_time,permanent,Monarch Recruitment,IT Jobs,45000,fish4.co.uk,20130605T120000,20130903T120000
25059,69229697,Principle Java Developer,Manchester,full_time,permanent,Hays North West,IT Jobs,42504,fish4.co.uk,20130827T120000,20131026T120000
25060,69229714,Analytical Consultant,Oxford,full_time,permanent,Hi Calibre Personnel Ltd,Sales Jobs,32004,fish4.co.uk,20120812T150000,20121011T150000
25061,69229773,System Administrator Windows Exchange SQL,Tunbridge Wells,full_time,permanent,Monarch Recruitment,IT Jobs,45000,fish4.co.uk,20120326T000000,20120425T000000
25062,69229778,Junior Drainage Engineer PDS Microdrainage,UK,full_time,permanent,Hays TCE Jobs,Engineering Jobs,20004,fish4.co.uk,20131207T000000,20140307T000000
25063,69229815,Head of Research Development,UK,full_time,permanent,Hays North West,IT Jobs,48504,fish4.co.uk,20120812T000000,20121110T000000
25064,69229843,"Performance Test Consultant SoapUI, LoadUI",UK,full_time,permanent,Monarch Recruitment,IT Jobs,15120,fish4.co.uk,20130627T120000,20130727T120000
25065,69229860,Rational Performance Tester Test Consultant,Tewkesbury,full_time,permanent,Monarch Recruitment,IT Jobs,66000,fish4.co.uk,20120217T120000,20120318T120000
25066,69229954,Fibre Laser Physicists / Engineers (Graduate t...,UK,full_time,permanent,RE & M Ltd,IT Jobs,32496,fish4.co.uk,20120709T120000,20121007T120000
25067,69230008,PCV Technician / Bus Mechanic,Chelmsford,full_time,permanent,DrivingGB,Engineering Jobs,32004,fish4.co.uk,20120301T000000,20120430T000000
25068,69230029,Relationship Executive,Sevenoaks,full_time,permanent,Support Services Group,Sales Jobs,24000,fish4.co.uk,20130704T120000,20131002T120000
25069,69230036,Cosmetic Regional Manager,Edinburgh,full_time,permanent,Support Services Group,Healthcare & Nursing Jobs,52500,fish4.co.uk,20120112T000000,20120411T000000
25070,69230142,Retail Bank Modelling Manager,Edinburgh,full_time,permanent,CMC Consulting,Accounting & Finance Jobs,47496,fish4.co.uk,20130123T000000,20130423T000000
25071,69230323,"Business Analyst, Retail Ecommerce, Reading, B...",Reading,full_time,permanent,The People Network,IT Jobs,47496,fish4.co.uk,20130603T120000,20130901T120000
25072,69245044,Mobile Developer (iOS or Android),London,full_time,permanent,Harvey Nash,IT Jobs,39996,jobs.newstatesman.com,20130714T000000,20130912T000000
25073,69247270,Tax Assistant Manager,Liverpool,non_specified,permanent,NaN,Accounting & Finance Jobs,32004,michaelpage.co.uk,20120711T120000,20121009T120000
25074,69247637,Newly Qualified Assistant Manager Role,London,full_time,permanent,Pro Tax,Accounting & Finance Jobs,42996,icaewjobs.com,20130618T120000,20130817T120000
25075,69247646,Corporate Tax Senior Manager Leeds,Leeds,full_time,permanent,Pro Tax,Accounting & Finance Jobs,67500,icaewjobs.com,20120823T000000,20121022T000000
25076,69247667,Professional Services Financial Accountant,London,full_time,permanent,Pro Finance,Accounting & Finance Jobs,38496,icaewjobs.com,20120209T150000,20120509T150000

## 4. Save the data

Save the data to csv file and using the default encoding

In [128]:
dataset1.to_csv('dataset1_solution.csv',encoding='utf-8',index=False)

## 5. References

[pandas](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
- - -
[Reading Materials from moodle](https://moodle.vle.monash.edu/course/view.php?id=42906&section=9#9)
- - -
[Geocoding API](https://developers.google.com/maps/documentation/geocoding/start)
- - -
[numpy](https://docs.scipy.org/doc/numpy/user/quickstart.html)
- - -
[python doc.](https://docs.python.org/3/library/index.html)